
    <%- include("./partials/head") %>
    <link href="styles/admin.css" rel="stylesheet">
     
    <!-- Header -->
    <%- include("./partials/header")%>
    <!-- /Header -->

    <main>
                <section class="admin-main_header">
            
                    <div class="img-admin">
                        <img src="/img/users/admin/admin.jpg" alt="">
                    </div>
        
                    <div class="nombre">
                            <h4>ADMINISTRADOR</h4>
                    </div>
                </section>

                <section class="admin-main-main">

                <div class="card-of-select">
                    <a id="link-all-products" href="/admin/allTheProducts">
                        <div class="all-products-container card">
                            <h2>
                                Todos los productos
                            </h2>
                            <span>
                                <%= products.length %>
                            </span>
                        </div>
                    </a>
                </div>

                <div class="card-of-select">
                    <a id="listUsers" href="/admin/usersList">
                        <div class="listUsers card">
                            <h2>
                                Usuarios registrados 
                            </h2>
                            <span>
                                <%= users.length %>
                            </span>
                        </div>

                    </a>
                </div>
                    
                </section>

                <section class="admin-main_footer">
                    <h2> ESTADISTICAS DE LA PAGINA</h2>

                    <p>
                        SIN ESTADISTICAS XD
                    </p>
                </section>
    </main>
        
    <!-- Footer -->
    <%- include("./partials/footer") %>
    <!-- /Footer -->
