<%- include('./partials/head.ejs') %>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="/styles/index.css" rel="stylesheet">

    <%- include('./partials/header.ejs') %>

        <main class="main">

            <div class="main-center">

                <section class="slider">

                    <div class="slider--inner" id="slider--inner">

                        <div class="img_sliderSection">
                            <img src="/img/banners/Banner-carrusel1.jpg" class="slider--img" id="Banner-image1" alt="">
                        </div>

                        <div class="img_sliderSection">
                            <iframe class="slider--img iframe" src="https://www.youtube.com/embed/3uneA-cstZs?si=4yaoLe7hZo7IzrNw&start=10&
                            control=0" title="YouTube video player" frameborder="0"
                                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </div>

                        <div class="img_sliderSection">
                            <img src="/img/banners/Banner-carrusel2.jpg" class="slider--img" id="Banner-image2" alt="">
                        </div>

                        <div class="img_sliderSection">
                            <iframe class="slider--img iframe" id="yt-iframe-container2"
                                src="https://www.youtube.com/embed/cAOfUZUiZhM?si=OsX654CAnGZhtgkb"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </div>

                        <div class="img_sliderSection">
                            <img src="/img/banners/Banner-carrusel3.jpg" class="slider--img" id="Banner-image3" alt="">
                        </div>

                        <div class="img_sliderSection">
                            <img src="/img/banners/Banner-carrusel4.jpg" class="slider--img" id="Banner-image4" alt="">
                        </div>

                    </div>


                    <div class="slider-buttons">

                        <div class="slider--btns slider--bts-left" id="btn-left">
                            <span class="material-symbols-outlined">
                                skip_previous
                            </span>
                        </div>
                        <div class="slider--btns slider--bts-rigth" id="btn-rigth">
                            <span class="material-symbols-outlined">
                                skip_next
                            </span>
                        </div>
                    </div>

                </section>

                <section class="cards ultimos-vistos" id="section-ultimos vistos">

                    <title>
                        <h3>Ultimos Vistos</h3>
                    </title>

                    <article class="items-mas-vendidos ">
                        <% masVendidos.forEach(element=> { %>
                            <a href="/products/productDetail/<%= element.id %>" class="product">

                                <picture>
                                    <img src="/img/products/<%= element.imagen %>" alt="Trompeta">
                                </picture>

                                <section class="detalle-producto">

                                    <p class="descripciones">
                                        <%= element.description %>
                                    </p>

                                    <p class="calificacion">

                                    <form class="formulario-clasificacion stars">
                                        <p class="clasificacion">
                                            <input id="radio1" type="radio" name="estrellas" value="5">
                                            <label for="radio1"><i class="fa-solid fa-star"></i></label>
                                            <input id="radio2" type="radio" name="estrellas" value="4">
                                            <label for="radio2"><i class="fa-solid fa-star"></i></label>
                                            <input id="radio3" type="radio" name="estrellas" value="3">
                                            <label for="radio3"><i class="fa-solid fa-star"></i></label>
                                            <input id="radio4" type="radio" name="estrellas" value="2">
                                            <label for="radio4"><i class="fa-solid fa-star"></i></label>
                                            <input id="radio5" type="radio" name="estrellas" value="1">
                                            <label for="radio5"><i class="fa-solid fa-star"></i></label>
                                        </p>
                                    </form>

                                    </p>

                                    <p class="precios">$ <%= element.precio %>
                                    </p>

                                </section>
                            </a>

                            <% }); %>

                    </article>

                </section>

                <section class="marcas-banners" id="seccion-marcas-banners">
                    <h5>Compra Por categoria</h5>
                    <div class="dropdown-content-categoria">

                        <section class="compra-por-categoria" id="section-categorias">
                            <div class="items-categorias">

                                <article class="categoria fade-diagonal ">
                                    <a href="/category/Guitarras">
                                        <p>Guitarras</p>
                                        <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Accesorios">
                                        <p>Accesorios</p>
                                        <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Efectos">
                                        <p>Efectos</p>
                                        <img src="/img/home/categoria-efectos.jpg" alt="Efectos">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Pianos">
                                        <p>Teclados & Pianos</p>
                                        <img src="/img/home/categoria-pianos-teclados.jpg" alt="Teclados&Pianos">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Orquesta">
                                        <p>Orquesta</p>
                                        <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Amplificacion">
                                        <p>Amplificación</p>
                                        <img src="/img/home/categoria-amplificacion.jpg" alt="Amplificación">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Segunda-Mano">
                                        <p>Segunda Mano</p>
                                        <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Grabacion">
                                        <p>Grabación</p>
                                        <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                                    </a>
                                </article>

                            </div>
                        </section>

                    </div>
                    <div class="box-marcas">
                        <div>
                            <img src="/img/banners/bannerMarcas.jpg" width=100%; alt="Marquesina marcas">
                        </div>
                    </div>
                    <div class="box-promoBanners">
                        <div class="promoBanners">
                            <img src="/img/banners/bannerEnvio.jpg" width=100%; alt="Envíos gratis">
                        </div>
                        <div class="promoBanners">
                            <img src="/img/banners/bannerCajita.jpg" width=100%; alt="Envíos gratis">
                        </div>
                        <div class="promoBanners">
                            <img src="/img/banners/bannerMasPromos.jpg" width=100%; alt="Envíos gratis">
                        </div>
                    </div>
                </section>

                <div class="promo-container">
                    <img src="img/banners/banner_promo.jpg" alt="">
                </div>

            </div>
            </div>

        </main>

        <%- include('./partials/footer.ejs') %>