<%- include('./partials/head.ejs') %>
<link href="/styles/reset.css" rel="stylesheet">
<link href="/styles/header-footer.css" rel="stylesheet">
<link href="/styles/home.css" rel="stylesheet">

<body>

    <%- include('./partials/header.ejs') %>

    <section class="carrusel"><!--Imagen momentánea solo por visualización: debe actualizarse (textos, botón, aplicación flex, etc.)-->
        <div class="banner">
            <img src="/img/banners/Banner-carrusel1.jpg" width= 100%; alt="Banner de ofertas">
        </div>
        <div class="player"></div><!--Pendiente ubicar botones controladores (play/stop/adelantar/retroceder)-->
    </section>
    <hr class="separador"><!-- Separador momentáneo para diferenciar secciones-->
    <main>
        <section class="compra-por-categoria">
            <h3>COMPRA POR CATEGORÍA</h3>
            <div class="items-categorias">  <!-- <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras"> -->
                <article class="categoria">
                    <p><a href="categoria/Guitarras">Guitarras</a></p>
                    <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                </article>
                <article class="categoria">
                    <p><a href="/categoria/Accesorios">Accesorios</a></p>
                    <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                </article>
                <article class="categoria">
                    <p><a href="categoria/Efectos">Efectos</a></p>
                    <img src="/img/home/categoria-efectos.jpg" alt="Efectos"></a>
                </article>
                <article class="categoria">
                    <p>Teclados y Pianos</p>
                    <img src="/img/home/categoria-pianos-teclados.jpg" alt="Teclados&Pianos">
                </article>
                <article class="categoria">
                    <p><a href="categoria/Orquesta">Orquesta</a></p>
                    <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                </article>
                <article class="categoria">
                    <p>Amplificación</p>
                    <img src="/img/home/categoria-amplificacion.jpg" alt="Amplificación">
                </article>
                <article class="categoria">
                    <p>Segunda Mano</p>
                    <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                </article>
                <article class="categoria">
                    <p><a href="categoria/Grabacion">Grabación</a></p>
                    <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                </article>
            </div>
            <div class="button">
                <button>VER TODAS LAS CATEGORÍAS</button>
            </div>
        </section>
        <hr class="separador">
        <section class="mas-vendidos">
            <h3>Más vendidos</h3>
            <div class="nav-bar">
                <ul>
                    <li>
                        <a href="#">Filtro</a>
                    </li>  
                    <li>
                        <a href="#">Accesorios</a>
                    </li>
                    <li>
                        <a href="#">Teclado & Pianos</a>
                    </li>
                    <li>
                        <a href="#">ordenar por titulo</a><i class="fa-solid fa-chevron-up"></i>
                    </li>
                </ul>  
            </div>
            <div class="items-mas-vendidos">  
                <% masVendidos.forEach(product => { %>
         
                    <article class="producto">
                        <a href="/products/productDetail">
                        <img src=<%= product.imagen %> alt="Imagen">
                        <div class="detalle-producto">
                            <p class="descripciones"><strong><%= product.nombre %></strong></p>
                            <div class="container-detalle">
                                <p class="calificacion">Estrellas</p>
                                <p class="precios">$<%= product.precio %></p>
                            </div>
                        </div>
                        </a>
                    </article>
                <% }) %>
            </div>
        </section>
        <hr class="separador">
        <section class="marcas-banners"><!--ver sección añadida en archivo 'Guías-HTML-CSS.TXT'-->
            <div class="box-marcas">
                <div>
                    <img src="/img/banners/bannerMarcas.jpg" width= 100%; alt="Marquesina marcas"><!--Imagen momentánea solo por visualización: debe actualizarse por div con lista de logos (svgs) de marcas, aplicar flex y generar la navegación / transición respectiva (botones adelantar y rebobinar)-->
                </div>
            </div>
            <div class="box-promoBanners">
                <div class="promoBanners"><!--Imágenes momentáneas solo por visualización: deben actualizarse en cada div con cada ícono svg respectivo, textos, aplicar flex, etc.-->
                    <img src="/img/banners/bannerEnvio.jpg" width= 100%; alt="Envíos gratis">
                </div>
                <div class="promoBanners">
                    <img src="/img/banners/bannerCajita.jpg" width= 100%; alt="Envíos gratis">
                </div>
                <div class="promoBanners">
                    <img src="/img/banners/bannerMasPromos.jpg" width= 100%; alt="Envíos gratis">
                </div>
            </div>
        </section>
        <hr class="separador">
        <section class="complementos"><!--pendiente centrar esta sección con respecto al main-->
            <div class="destacados">
                <h4>Destacados</h4><!--cambio de h3 a h4-->
                <article class="producto">
                    <a href="/products/productDetail">
                    <img src="/img/productos/varios/trompeta.jpg" alt="Trompeta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="/products/productDetail">
                    <img src="/img/productos/varios/trompeta.jpg" alt="Trompeta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                    </a>
                </article>
            </div>
            <div class="comentarios">
                <h4>Comentarios</h4><!--cambio de h3 a h4-->
                <article class="producto">
                    <a href="/products/productDetail">
                    <img src="/img/productos/orquesta/orquesta-1.jpg" alt="Orquesta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Handcrafted Wood Aoustic Violin</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="/products/productDetail">
                    <img src="/img/productos/orquesta/orquesta-1.jpg" alt="Orquesta" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Handcrafted Wood Aoustic Violin</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                    </a>
                </article>
            </div>
            <div class="novedades">
                <h4>Novedades</h4><!--cambio de h3 a h4-->
                <article class="producto">
                    <a href="/products/productDetail">
                    <img src="/img/productos/accesorios/audifonos-1.jpg" alt="Audifonos" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Audifonos</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="/products/productDetail">
                    <img src="/img/productos/accesorios/audifonos-1.jpg" alt="Audifonos" >
                    <div class="detalle-producto">
                        <div class="container-detalle">
                            <p class="descripciones"><strong>Audifonos</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                    </a>
                </article>
            </div>
            <div class="espacio-publicitario">
                <img src="/img/banners/banner_promo.jpg" alt="Publicidad">
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
