<%- include('./partials/head.ejs') %>
    <link href="/styles/index.css" rel="stylesheet">

    <%- include('./partials/header.ejs') %>

        <main class="main">

            <div class="main__div--max-width">

                <section class="main__slider property-TNotSelect main__section--bgColor" id="index-slider">

                    <div class="slider--inner" id="slider--inner">

                        <div class="img_sliderSection">
                            <img loading="lazy" src="/img/banners/Banner-carrusel1.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image1" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive1.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image1" alt="">
                        </div>

                        <div class="img_sliderSection">

                            <img loading="lazy" src="/img/banners/Banner-carrusel2.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image2" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive2.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image2" alt="">

                        </div>

                        <div class="img_sliderSection">

                            <img loading="lazy" src="/img/banners/Banner-carrusel3.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image3" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive3.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image3" alt="">

                        </div>

                        <div class="img_sliderSection">

                            <img loading="lazy" src="/img/banners/Banner-carrusel4.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image4" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive4.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image4" alt="">

                        </div>

                    </div>

                    <div class="slider-buttons">

                        <div class="slider--btns slider--btns-left" id="btn-left">
                            <span class="material-symbols-outlined">
                                skip_previous
                            </span>
                        </div>

                        <div class="slider--btns slider--btns-rightCenter" id="div__btn-pause-play">
                            <span class="material-symbols-outlined" data-id="span__puse-play">
                                pause
                            </span>
                        </div>

                        <div class="slider--btns slider--btns-right" id="btn-right">
                            <span class="material-symbols-outlined">
                                skip_next
                            </span>
                        </div>

                    </div>

                </section>

                <section class="main__container-cards main__section--margin-bottom main__section--bgColor" id="offers">

                    <div class="last-seen_title title-section" id="offers">
                        <h3>Ofertas</h3>
                    </div>

                    <div id="div_cards--scrolling" class="cards">

                        <% offerts.forEach(product=> { %>

                            <div class="card-outline">
                                <a href="/products/productDetail/<%= product.id %>" class="product">
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand_id %>">
                                        </picture>

                                        <section class="product-info">

                                            <div class="nameProduct">
                                                <p class="nameProduct">
                                                    <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>

                                        </section>
                                    </div>
                                </a>
                            </div>
                            <% }); %>

                    </div>

                    <div id="btnsCards-left" class="btnsCards btnLeft">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </div>

                    <div id="btnsCards-right" class="btnsCards btnRight">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>

                </section>

                <section class="main__cards-prom main__section--margin-bottom main__section--bgColor" id="cards-prom">
                    <div class="center_cards-prom">

                        <div class="cardProm card1 free-shipping">

                            <picture class="picture-prom">
                                <span class="material-symbols-outlined">
                                    local_shipping
                                </span>
                            </picture>

                            <article>
                                <h2>ENVIOS GRATIS</h2>
                                <p>En Argentina y en Colombia</p>
                                <div class="box-black-click">
                                    <a href="#">HASTA EL 30 DE DICIEMBRE</a>
                                </div>
                            </article>

                        </div>

                        <div class="cardProm card2 card-saving">

                            <picture class="picture-prom svg">

                                <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 24 24"
                                    style="enable-background:new 0 0 24 24;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M9.8,18.3L9.8,18.3c-0.3,0-0.5-0.2-0.5-0.5V11c0-0.3,0.2-0.5,0.5-0.5h0c0.3,0,0.5,0.2,0.5,0.5v6.8
                                                    C10.4,18.1,10.1,18.3,9.8,18.3z" />
                                            <path d="M14.2,18.3L14.2,18.3c-0.3,0-0.5-0.2-0.5-0.5V11c0-0.3,0.2-0.5,0.5-0.5h0c0.3,0,0.5,0.2,0.5,0.5v6.8
                                                    C14.7,18.1,14.5,18.3,14.2,18.3z" />
                                            <path d="M12,17.3L12,17.3c-0.3,0-0.5-0.2-0.5-0.5V12c0-0.3,0.2-0.5,0.5-0.5h0c0.3,0,0.5,0.2,0.5,0.5v4.8
                                                    C12.5,17.1,12.3,17.3,12,17.3z" />
                                            <path d="M7.6,16.6L7.6,16.6c-0.3,0-0.5-0.2-0.5-0.5v-3.3c0-0.3,0.2-0.5,0.5-0.5h0c0.3,0,0.5,0.2,0.5,0.5v3.3
                                                    C8.2,16.4,7.9,16.6,7.6,16.6z" />
                                            <path d="M16.4,16.6L16.4,16.6c-0.3,0-0.5-0.2-0.5-0.5v-3.3c0-0.3,0.2-0.5,0.5-0.5h0c0.3,0,0.5,0.2,0.5,0.5v3.3
                                                    C16.9,16.4,16.7,16.6,16.4,16.6z" />
                                        </g>

                                        <path d="M18.7,6.4h-0.4V2.9c0-0.7-0.6-1.3-1.3-1.3H7.1c-0.7,0-1.3,0.6-1.3,1.3v3.5H5.3C4.6,6.4,4,7,4,7.7v13.3
                                                c0,0.7,0.6,1.3,1.3,1.3h13.3c0.7,0,1.3-0.6,1.3-1.3V7.7C20,7,19.4,6.4,18.7,6.4z M6.7,3.4c0-0.5,0.4-0.9,0.9-0.9h8.9
                                                c0.5,0,0.9,0.4,0.9,0.9v3H6.7V3.4z M18.8,20.3c0,0.5-0.4,0.9-0.9,0.9H6.1c-0.5,0-0.9-0.4-0.9-0.9V8.5c0-0.5,0.4-0.9,0.9-0.9h11.8
                                                c0.5,0,0.9,0.4,0.9,0.9V20.3z" />
                                    </g>
                                </svg>

                            </picture>

                            <article>
                                <h2>AHORRA HASTA EL 50%</h2>
                                <p>sobre tus pedidos de $100.000</p>
                                <div class="box-black-click">
                                    <a href="#">HASTA EL 30 DE DICIEMBRE</a>
                                </div>
                            </article>

                        </div>

                        <div class="cardProm card3 card-other-promotions">

                            <picture class="picture-prom">
                                <div class="border-orange">
                                    <span class="material-symbols-outlined">
                                        attach_money
                                    </span>
                                </div>
                            </picture>

                            <article>
                                <h2>CONOCE OTRAS PROMOS</h2>
                                <p>segui llevando la buena vibra</p>
                                <div class="box-black-click">
                                    <a href="#">CLICK AQUI</a>
                                </div>
                            </article>

                        </div>

                    </div>
                </section>

                <section class="main__container-cards main__section--margin-bottom main__section--bgColor"
                    id="top-sales">

                    <div class="last-seen_title title-section" id="offers">
                        <h3>Top ventas</h3>
                    </div>

                    <div id="div_cards--scrolling" class="cards">

                        <% topSeller.forEach(product=> { %>
                            <div class="card-outline">
                                <a href="/products/productDetail/<%= product.id %>" class="product">
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand_id %>">
                                        </picture>

                                        <section class="product-info">

                                            <div class="nameProduct">
                                                <p class="nameProduct">
                                                    <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>

                                        </section>
                                    </div>
                                </a>
                            </div>
                            <% }); %>

                    </div>

                    <div id="btnsCards-left" class="btnsCards btnLeft">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </div>

                    <div id="btnsCards-right" class="btnsCards btnRight">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>

                </section>

                <section class="main__brands-slider main__section--margin-bottom main__section--bgColor"
                    id="slider-brands">
                    <div class="div__brands-box">
                        <div class="div__logos-slide">
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/boss.svg"></a>
                            <a href="#" class="a__content-image"> <img
                                    src="/img/banners/SliderBrands/d-addario.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/epiphone.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/gibson.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/marshall.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/yamaha.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/zildjian.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/boss.svg"></a>
                            <a href="#" class="a__content-image"> <img
                                    src="/img/banners/SliderBrands/d-addario.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/epiphone.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/gibson.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/marshall.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/yamaha.svg"></a>
                            <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/zildjian.svg"></a>
                        </div>
                    </div>
                </section>

                <section id="last-seen"
                class="main__container-cards main__section--margin-bottom main__section--bgColor">

                <div class="last-seen_title title-section">
                    <h3>Últimos vistos</h3>
                </div>

                <div id="div_cards--scrolling" class="cards">
                    <% topSeller.forEach(product=> { %>
                        <div class="card-outline">
                            <a href="/products/productDetail/<%= product.id %>" class="product">
                                <div class="card">
                                    <picture class="img-product">
                                        <img loading="lazy" src="/img/products/<%= product.image %>"
                                            alt="<%= product.category, product.name, product.brand_id %>">
                                    </picture>

                                    <section class="product-info">

                                        <div class="nameProduct">
                                            <p class="nameProduct">
                                                <%= product.name%>
                                            </p>
                                        </div>

                                        <form class="form-qualification qualification-stars">
                                            <p class="qualification">

                                                <input id="radio5" type="radio" name="stars" value="1">
                                                <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                <input id="radio4" type="radio" name="stars" value="2">
                                                <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                <input id="radio3" type="radio" name="stars" value="3">
                                                <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                <input id="radio2" type="radio" name="stars" value="4">
                                                <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                <input id="radio1" type="radio" name="stars" value="5">
                                                <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                            </p>
                                        </form>

                                        <div class="price">
                                            <p>$ <%= product.price %>
                                            </p>
                                            <p style="color: green;">
                                                <% if (product.discount==null ) {%>

                                                    <% } else {%>
                                                        -<%= product.discount %> %
                                                            <% } %>
                                            </p>
                                        </div>

                                    </section>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>

                <div id="btnsCards-left" class="btnsCards btnLeft">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </div>

                <div id="btnsCards-right" class="btnsCards btnRight">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </div>

                </section>

                <section class="main__content-categories main__section--margin-bottom main__section--bgColor"
                    id="categories">

                    <div class="dropdown-content-category_title">
                        <h3>Categorías</h3>
                    </div>

                    <div class="div__items-categories div__items-categories--grid">

                        <article class="categoria fade-diagonal ">
                            <a href="/category/Guitarras">
                                <p>Guitarras</p>
                                <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Accesorios">
                                <p>Accesorios</p>
                                <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Efectos">
                                <p>Efectos</p>
                                <img src="/img/home/categoria-efectos.jpg" alt="Efectos">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Pianos">
                                <p>Teclados & Pianos</p>
                                <img src="/img/home/categoria-pianos-teclados.jpg" alt="Teclados&Pianos">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Orquesta">
                                <p>Orquesta</p>
                                <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Amplificacion">
                                <p>Amplificación</p>
                                <img src="/img/home/categoria-amplificacion.jpg" alt="Amplificación">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Segunda-Mano">
                                <p>Segunda Mano</p>
                                <p class="category-z-index-text">Segunda Mano</p>
                                <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Grabacion">
                                <p>Grabación</p>
                                <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                            </a>
                        </article>

                    </div>

                    <div class="div__footer-category">
                        <a href="/allCategories">Todas Las Categorias</a>
                    </div>

                </section>

                <section class="main__promo-container main__section--margin-bottom main__section--bgColor"
                    id="comments-prom-promBaner">

                    <div class="container-boxes">

                        <div class="box box--magin-bottom" id="featured">

                            <div class="box__title">
                                <h2>DESTACADOS</h2>
                            </div>

                            <div class="promo-container_cards">
                                <% topSeller.forEach(product=> { %>
                                    <div class="card">

                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand %>">
                                        </picture>
                                        <article class="info-product">
                                            <div class="nameProduct">
                                                <p class="nameProduct">Nombre del producto <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>
                                        </article>
                                    </div>

                                    <% }); %>
                            </div>

                        </div>

                        <div class="box box--magin-bottom" id="comments">

                            <div class="box__title">
                                <h2>COMENTARIOS</h2>
                            </div>

                            <div class="promo-container_cards">
                                <% topSeller.forEach(product=> { %>
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand %>">
                                        </picture>
                                        <article class="info-product">
                                            <div class="nameProduct">
                                                <p class="nameProduct">Nombre del producto <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>
                                        </article>
                                    </div>

                                    <% }); %>
                            </div>

                        </div>

                        <div class="box box--magin-bottom" id="news">

                            <div class="box__title">
                                <h2>NOVEDADES</h2>
                            </div>

                            <div class="promo-container_cards" id="promo-container-third">
                                <% topSeller.forEach(product=> { %>
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand %>">
                                        </picture>
                                        <article class="info-product">
                                            <div class="nameProduct">
                                                <p class="nameProduct">Nombre del producto <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>
                                        </article>
                                    </div>

                                    <% }); %>
                            </div>

                        </div>

                        <article class="box box--magin-bottom">

                            <picture>
                                <img loading="lazy" src="img/banners/banner_promo.jpg"
                                    alt="soundBox promocionesSoundbox SoundboxPromotion">
                            </picture>

                        </article>

                    </div>

                </section>

            </div>
        </main>
        <%- include('./partials/footer.ejs') %>