<%- include('./partials/head.ejs') %>
    <link href="/styles/index.css" rel="stylesheet">

    <%- include('./partials/header.ejs') %>

        <main class="main">

            <div class="main__div--max-width">

                <section id="index-slider"
                    class="main__slider property-TNotSelect main__section--bgColor mnw-768px--w-85">

                    <div class="slider--inner" id="slider--inner">

                        <div class="img_sliderSection">
                            <img loading="lazy" src="/img/banners/Banner-carrusel1.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image1" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive1.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image1" alt="">
                        </div>

                        <div class="img_sliderSection">

                            <img loading="lazy" src="/img/banners/Banner-carrusel2.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image2" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive2.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image2" alt="">

                        </div>

                        <div class="img_sliderSection">

                            <img loading="lazy" src="/img/banners/Banner-carrusel3.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image3" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive3.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image3" alt="">

                        </div>

                        <div class="img_sliderSection">

                            <img loading="lazy" src="/img/banners/Banner-carrusel4.jpg"
                                class="slider--img img_sliderSection--min-with-1020" id="Banner-image4" alt="">

                            <img loading="lazy" src="/img/banners/Banner-carrusel-responsive4.jpg"
                                class="slider--img img_sliderSection--min-with-768" id="Banner-image4" alt="">

                        </div>

                    </div>

                    <div class="slider-buttons">

                        <div class="slider--btns slider--btns-left" id="btn-left">
                            <span class="material-symbols-rounded">
                                skip_previous
                            </span>
                        </div>

                        <div class="slider--btns slider--btns-rightCenter" id="div__btn-pause-play">
                            <span class="material-symbols-rounded" data-id="span__puse-play">
                                pause
                            </span>
                        </div>

                        <div class="slider--btns slider--btns-right" id="btn-right">
                            <span class="material-symbols-rounded">
                                skip_next
                            </span>
                        </div>

                    </div>

                </section>

                <section id="categories"
                    class="main__content-categories main__section--margin-bottom main__section--bgColor mnw-768px--w-85">

                    <div class="dropdown-content-category_title">
                        <h3>Categorías</h3>
                    </div>

                    <div class="div__items-categories div__items-categories--grid">

                        <article class="categoria fade-diagonal ">
                            <a href="/category/Guitarras">
                                <p>Guitarras</p>
                                <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Accesorios">
                                <p>Accesorios</p>
                                <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Efectos">
                                <p>Efectos</p>
                                <img src="/img/home/categoria-efectos.jpg" alt="Efectos">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Pianos">
                                <p>Teclados & Pianos</p>
                                <img src="/img/home/categoria-pianos-teclados.jpg" alt="Teclados&Pianos">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Orquesta">
                                <p>Orquesta</p>
                                <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Amplificacion">
                                <p>Amplificación</p>
                                <img src="/img/home/categoria-amplificacion.jpg" alt="Amplificación">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Segunda-Mano">
                                <p>Segunda Mano</p>
                                <p class="category-z-index-text">Segunda Mano</p>
                                <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                            </a>
                        </article>

                        <article class="categoria fade-diagonal ">
                            <a href="categoria/Grabacion">
                                <p>Grabación</p>
                                <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                            </a>
                        </article>

                    </div>

                    <div class="div__footer-category">
                        <a href="/allCategories">Todas Las Categorias</a>
                    </div>

                </section>

                <section id="offers"
                    class="main__container-cards main__section--margin-bottom main__section--bgColor mnw-768px--w-85">

                    <div class="last-seen_title title-section" id="offers">
                        <h3>Ofertas</h3>
                    </div>

                    <div id="div_cards--scrolling" class="cards">

                        <% offerts.forEach(product=> { %>

                            <div class="card-outline">
                                <a href="/products/productDetail/<%= product.id %>" class="product">
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand_id %>">
                                        </picture>

                                        <section class="product-info">

                                            <div class="nameProduct">
                                                <p class="nameProduct">
                                                    <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>

                                        </section>
                                    </div>
                                </a>
                            </div>
                            <% }); %>

                    </div>

                    <div id="btnsCards-left" class="btnsCards btnLeft">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </div>

                    <div id="btnsCards-right" class="btnsCards btnRight">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>

                </section>

                <section id="brands-prom"
                    class="main__section-brands-prom property-TNotSelect main__section--flex main__section--margin-bottom main__section--bgColor mnw-768px--w-85">

                    <section class="main__section-brands-slider ">
                        <div class="div__brands-box">
                            <div class="div__logos-slide">
                                <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/boss.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/d-addario.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/epiphone.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/gibson.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/marshall.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/yamaha.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/zildjian.svg"></a>
                                <a href="#" class="a__content-image"> <img src="/img/banners/SliderBrands/boss.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/d-addario.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/epiphone.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/gibson.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/marshall.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/yamaha.svg"></a>
                                <a href="#" class="a__content-image"> <img
                                        src="/img/banners/SliderBrands/zildjian.svg"></a>
                            </div>
                        </div>
                    </section>

                    <section class="main__section-cards-prom">

                        <div class="center_cards-prom">

                            <div class="cardProm card1 free-shipping">
                                
                                <img src="/img/banners/bannerEnvios-1.jpg" alt="Envíos gratis">

                            </div>

                            <div class="cardProm card2 card-saving">

                                <img src="/img/banners/bannerCajita-1.jpg" alt="Envíos gratis">

                            </div>

                            <div class="cardProm card3 card-other-promotions">

                                <img src="/img/banners/bannerOtrasPromos-1.jpg" alt="Envíos gratis">

                            </div>

                        </div>

                    </section>


                </section>

                <section id="top-sales"
                    class="main__container-cards main__section--margin-bottom main__section--bgColor mnw-768px--w-85">

                    <div class="last-seen_title title-section" id="offers">
                        <h3>Top ventas</h3>
                    </div>

                    <div id="div_cards--scrolling" class="cards">

                        <% topSeller.forEach(product=> { %>
                            <div class="card-outline">
                                <a href="/products/productDetail/<%= product.id %>" class="product">
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand_id %>">
                                        </picture>

                                        <section class="product-info">

                                            <div class="nameProduct">
                                                <p class="nameProduct">
                                                    <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>

                                        </section>
                                    </div>
                                </a>
                            </div>
                            <% }); %>

                    </div>

                    <div id="btnsCards-left" class="btnsCards btnLeft">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </div>

                    <div id="btnsCards-right" class="btnsCards btnRight">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>

                </section>

                <section id="last-seen"
                    class="main__container-cards main__section--margin-bottom main__section--bgColor mnw-768px--w-85">

                    <div class="last-seen_title title-section">
                        <h3>Últimos vistos</h3>
                    </div>

                    <div id="div_cards--scrolling" class="cards">
                        <% topSeller.forEach(product=> { %>
                            <div class="card-outline">
                                <a href="/products/productDetail/<%= product.id %>" class="product">
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand_id %>">
                                        </picture>

                                        <section class="product-info">

                                            <div class="nameProduct">
                                                <p class="nameProduct">
                                                    <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>

                                        </section>
                                    </div>
                                </a>
                            </div>
                            <% }); %>
                    </div>

                    <div id="btnsCards-left" class="btnsCards btnLeft">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </div>

                    <div id="btnsCards-right" class="btnsCards btnRight">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </div>

                </section>

                <section id="comments-prom-promBaner"
                    class="main__promo-container main__section--margin-bottom main__section--bgColor mnw-768px--w-85">

                    <div class="container-boxes">

                        <div class="box box--magin-bottom" id="featured">

                            <div class="box__title">
                                <h2>DESTACADOS</h2>
                            </div>

                            <div class="promo-container_cards" id="promo-container-one">
                                <% topSeller.forEach(product=> { %>
                                    <div class="card">

                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand %>">
                                        </picture>
                                        <article class="info-product">
                                            <div class="nameProduct">
                                                <p class="nameProduct">Nombre del producto <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>
                                        </article>
                                    </div>

                                    <% }); %>
                            </div>

                        </div>

                        <div class="box box--magin-bottom" id="comments">

                            <div class="box__title">
                                <h2>COMENTARIOS</h2>
                            </div>

                            <div class="promo-container_cards" id="promo-container-two">
                                <% topSeller.forEach(product=> { %>
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand %>">
                                        </picture>
                                        <article class="info-product">
                                            <div class="nameProduct">
                                                <p class="nameProduct">Nombre del producto <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>
                                        </article>
                                    </div>

                                    <% }); %>
                            </div>

                        </div>

                        <div class="box box--magin-bottom" id="news">

                            <div class="box__title">
                                <h2>NOVEDADES</h2>
                            </div>

                            <div class="promo-container_cards" id="promo-container-third">
                                <% topSeller.forEach(product=> { %>
                                    <div class="card">
                                        <picture class="img-product">
                                            <img loading="lazy" src="/img/products/<%= product.image %>"
                                                alt="<%= product.category, product.name, product.brand %>">
                                        </picture>
                                        <article class="info-product">
                                            <div class="nameProduct">
                                                <p class="nameProduct">Nombre del producto <%= product.name%>
                                                </p>
                                            </div>

                                            <form class="form-qualification qualification-stars">
                                                <p class="qualification">

                                                    <input id="radio5" type="radio" name="stars" value="1">
                                                    <label for="radio5"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio4" type="radio" name="stars" value="2">
                                                    <label for="radio4"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio3" type="radio" name="stars" value="3">
                                                    <label for="radio3"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio2" type="radio" name="stars" value="4">
                                                    <label for="radio2"><i class="fa-solid fa-star"></i></label>

                                                    <input id="radio1" type="radio" name="stars" value="5">
                                                    <label for="radio1"><i class="fa-solid fa-star"></i></label>

                                                </p>
                                            </form>

                                            <div class="price">
                                                <p>$ <%= product.price %>
                                                </p>
                                                <p style="color: green;">
                                                    <% if (product.discount==null ) {%>

                                                        <% } else {%>
                                                            -<%= product.discount %> %
                                                                <% } %>
                                                </p>
                                            </div>
                                        </article>
                                    </div>

                                    <% }); %>
                            </div>

                        </div>

                        <article class="box box--magin-bottom">

                            <picture>
                                <img loading="lazy" src="img/banners/banner_promo.jpg"
                                    alt="soundBox promocionesSoundbox SoundboxPromotion">
                            </picture>

                        </article>

                    </div>

                </section>

            </div>

        </main>

    <%- include('./partials/footer.ejs') %>