<%- include('./partials/head.ejs') %>
    <!-- ¡OJO! se estaba repitiendo el llamado de las hojas de estilo 'reset' y 'header-footer' que ya están en el partial head.ejs. PUEDEN PRESENTARSE CONFLICTOS (revisar) -->
    <link href="/styles/home.css" rel="stylesheet">

    <%- include('./partials/header.ejs') %>

        <main class="main">

            <div class="main-center">

                <section class="slider-frame">
                    <ul>
                        <!-- <li>
                            <img src="/img/banners/Banner-carrusel1.jpg" id="Banner-image1" alt="">
                        </li> -->
                        <li class="yt-iframe-container">
                            <!-- quiero entre banner y banner se vea un video de cada instrumento
                                 con la api de youtube usando:-->
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/3uneA-cstZs?si=4yaoLe7hZo7IzrNw&start=10&autoplay=1&controls=0"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  
                                allowfullscreen></iframe>
                            <!-- iframe de yt -- Le saqué el autoplay por el momento -->
                        </li>
                        <li>
                            <img src="/img/banners/Banner-carrusel2.jpg" id="Banner-image2" alt="">
                        </li>

                        <li>
                            <img src="/img/banners/Banner-carrusel3.jpg" id="Banner-image3" alt="">
                        </li>
                        <li>
                            <img src="/img/banners/Banner-carrusel4.jpg" id="Banner-image4" alt="">
                        </li>
                        <li>
                            <img src="/img/banners/Banner-carrusel1.jpg" id="Banner-image5" alt="">
                        </li>
                    </ul>

                    <div class="slider-buttons">
                        <div class="grid-items-slider">
                            <a href="#Banner-image1">a</a>
                        </div>
                        <div class="grid-items-slider">
                            <a href="#Banner-image2">a</a>
                        </div>
                        <div class="grid-items-slider">
                            <a href="#Banner-image3">a</a>
                        </div>
                    </div>
                </section>

                <section class="right-menu-container">
                    <section class="right-menu">
                        <div class="right-icons-text">
                            <p>asdasdasd</p>
                        </div>
                        <div class="right-icons">
                            <img src="/img/svg/cajitaSBX.svg" alt="">
                        </div>
                    </section>

                    <section class="right-menu">
                        <div class="right-icons">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <div class="right-icons-text">
                            <p>asdasdasd</p>
                        </div>
                    </section>

                    <section class="right-menu go-top-container">
                        <div class="right-icons">
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
                    </section>
                </section>

                <section class="mas-vendidos" id="section-mas-vendidos">
                    <h3>MÁS VENDIDOS</h3>

                    <div class="items-mas-vendidos">
                        <% masVendidos.forEach(element=> { %>
                            <a href="/products/productDetail/<%= element.id %>" class="product">
                                <img src="/img/products/<%= element.imagen %>" alt="Trompeta">
                                <div class="detalle-producto">
                                    <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                                    <div class="container-detalle">
                                        <p class="calificacion">

                                        <form class="formulario-clasificacion">
                                            <p class="clasificacion">
                                                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                                --><label for="radio1"><i class="fa-solid fa-star"></i></label><!--
                                                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                                --><label for="radio2"><i class="fa-solid fa-star"></i></label><!--
                                                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                                --><label for="radio3"><i class="fa-solid fa-star"></i></label><!--
                                                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                                --><label for="radio4"><i class="fa-solid fa-star"></i></label><!--
                                                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                                --><label for="radio5"><i class="fa-solid fa-star"></i></label>
                                            </p>
                                        </form>


                                        </p>
                                        <p class="precios">$ <%= element.precio %>
                                        </p>
                                    </div>
                                </div>
                            </a>

                            <% }); %>

                    </div>
                </section>

                <section class="marcas-banners" id="seccion-marcas-banners">
                    <h5>Compra Por categoria</h5>
                    <div class="dropdown-content-categoria">

                        <section class="compra-por-categoria" id="section-categorias">
                            <div class="items-categorias">

                                <article class="categoria fade-diagonal ">
                                    <a href="/category/Guitarras">
                                        <p>Guitarras</p>
                                        <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Accesorios">
                                        <p>Accesorios</p>
                                        <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Efectos">
                                        <p>Efectos</p>
                                        <img src="/img/home/categoria-efectos.jpg" alt="Efectos">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Pianos">
                                        <p>Teclados & Pianos</p>
                                        <img src="/img/home/categoria-pianos-teclados.jpg"
                                            alt="Teclados&Pianos">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Orquesta">
                                        <p>Orquesta</p>
                                        <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Amplificacion">
                                        <p>Amplificación</p>
                                        <img src="/img/home/categoria-amplificacion.jpg"
                                            alt="Amplificación">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Segunda-Mano">
                                        <p>Segunda Mano</p>
                                        <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                                    </a>
                                </article>

                                <article class="categoria fade-diagonal ">
                                    <a href="categoria/Grabacion">
                                        <p>Grabación</p>
                                        <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                                    </a>
                                </article>

                            </div>
                        </section>

                    </div>
                    <div class="box-marcas">
                        <div>
                            <img src="/img/banners/bannerMarcas.jpg" width=100%; alt="Marquesina marcas">
                        </div>
                    </div>
                    <div class="box-promoBanners">
                        <div class="promoBanners">
                            <img src="/img/banners/bannerEnvio.jpg" width=100%; alt="Envíos gratis">
                        </div>
                        <div class="promoBanners">
                            <img src="/img/banners/bannerCajita.jpg" width=100%; alt="Envíos gratis">
                        </div>
                        <div class="promoBanners">
                            <img src="/img/banners/bannerMasPromos.jpg" width=100%; alt="Envíos gratis">
                        </div>
                    </div>
                </section>


                <!-- <div class="titles-last-section">
                    <h3>Novedades</h3>
                    <h3>Comentados</h3>
                    <h3>Destacados</h3>
                </div> -->
                <div class="last-section-flex">
                <div class="last-section">
                    <h3>Novedades</h3>
                    <h3>Comentados</h3>
                    <h3>Destacados</h3>
                    <% masVendidos.forEach(element=> { %>
                        <a href="/products/productDetail/<%= element.id %>" class="card">
                            <div class="img-container">
                                <img src="/img/productos/Orquesta/Orquesta-1.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <span class="descripciones">
                                    <%= element.nombre %>
                                </span>
                                <span>
                                    <%= element.marca %>
                                </span>
                                <span>
                                    <%= element.precio %>
                                </span>
                            </div>
                        </a>
                        <% }); %>
                        <% masVendidos.forEach(element=> { %>
                            <a href="/products/productDetail/<%= element.id %>" class="card">
                                <div class="img-container">
                                    <img src="/img/productos/Orquesta/Orquesta-1.jpg" alt="">
                                </div>
                                <div class="card-text">
                                    <span>
                                        <%= element.nombre %>
                                    </span>
                                    <span>
                                        <%= element.marca %>
                                    </span>
                                    <span>
                                        <%= element.precio %>
                                    </span>
                                </div>
                            </a>
                            <% }); %>
                            <% products.forEach(element=> { %>
                                <a href="/products/productDetail/<%= element.id %>" class="card">
                                    <div class="img-container">
                                        <img src="/img/productos/Orquesta/Orquesta-1.jpg" alt="">
                                    </div>
                                    <div class="card-text">
                                        <span>
                                            <%= element.nombre %>
                                        </span>
                                        <span>
                                            <%= element.marca %>
                                        </span>
                                        <span>
                                            <%= element.precio %>
                                        </span>
                                    </div>
                                </a>
                                <% }); %>
                        
                </div>
                <div class="promo-container">
                    <img src="img/banners/banner_promo.jpg" alt="">
                </div>
            </div>
            </div>

        </main>

        <%- include('./partials/footer.ejs') %>