<%- include('./partials/head.ejs') %>
<!-- ¡OJO! se estaba repitiendo el llamado de las hojas de estilo 'reset' y 'header-footer' que ya están en el partial head.ejs. PUEDEN PRESENTARSE CONFLICTOS (revisar) -->
<link href="/styles/home.css" rel="stylesheet">

<body>

    <%- include('./partials/header.ejs') %>

    <main>

        <!-- index.ejs optimizado -->

        <section class="carrusel">
            <div class="banner">
                <div class="container-carrusel-1">
                    <img src="/img/banners/carrusel_img1.jpg">
                </div>
                <div class="container-carrusel-2">
                    <h2>LLEVA LA BUENA <span class="vibra">VIBRA</span> <span><img src="/img/svg/simbolequalizer.svg"></span></h2>
                    <p class="bold-text">Instrumentos y accesorios musicales</p>
                    <p class="light-text">En esta caja encontrarás gran variedad de instrumentos, accesorios y demás implementos para la producción musical</p>
                    <div class="container-button-carrusel">
                        <button class="button-carrusel">Ofertas</button>
                    </div>
                </div>
            </div>
            <div class="player">
                <ul>
                    <li><a href="#"><span id="skip-previous" class="material-symbols-rounded">skip_previous</span></a></li>
                    <li><a href="#"><span id="play-arrow" class="material-symbols-rounded">play_arrow</span></a></li>
                    <li><a href="#"><span id="stop" class="material-symbols-rounded">stop</span></a></li>
                    <li><a href="#"><span id="skip-next" class="material-symbols-rounded">skip_next</span></a></li>
                </ul>
            </div>
        </section>

        <section class="compra-por-categoria" id="section-categorias">
            <h3>COMPRA POR CATEGORÍA</h3>
            <div class="items-categorias">  <!-- <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras"> -->
            
                <article class="categoria">
                    <p>Guitarras</p>
                    <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                </article>

            <a href="categoria/Accesorios"></a>
                <article class="categoria">
                    <p>Accesorios</p>
                    <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                </article>
            </a>

            <a href="categoria/Efectos"></a>
                <article class="categoria">
                    <p>Efectos</p>
                    <img src="/img/home/categoria-efectos.jpg" alt="Efectos">
                </article>
            </a>

            <a href="categoria/Pianos"></a>
                <article class="categoria">
                    <p>Teclados & Pianos</p>
                    <img src="/img/home/categoria-pianos-teclados.jpg" alt="Teclados&Pianos">
                </article>
            </a>
            
            <a href="categoria/Orquesta"></a>
                <article class="categoria">
                    <p>Orquesta</p>
                    <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                </article>
            </a>

            <a href="categoria/Amplificacion"></a>
                <article class="categoria">
                    <p>Amplificación</p>
                    <img src="/img/home/categoria-amplificacion.jpg" alt="Amplificación">
                </article>
            </a>

            <a href="categoria/Segunda-Mano"></a>
                <article class="categoria">
                    <p>Segunda Mano</p>
                    <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                </article>
            </a>

            <a href="categoria/Grabacion"></a>
                <article class="categoria">
                    <p>Grabación</p>
                    <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                </article>
            </a>
            </div>
            <div class="button">
                <button>VER TODAS LAS CATEGORÍAS</button>
            </div>
        </section>
        
        <section class="mas-vendidos" id="section-mas-vendidos">
            <h3>MÁS VENDIDOS</h3>
            <div class="nav-bar">
                <ul>
                    <li>
                        <a href="#">Filtro</a>
                    </li>  
                    <li>
                        <a href="#">Accesorios</a>
                    </li>
                    <li>
                        <a href="#">Teclado & Pianos</a>
                    </li>
                    <li>
                        <a href="#">ordenar por titulo</a><i class="fa-solid fa-chevron-up"></i>
                    </li>
                </ul>  
            </div>
            <div class="items-mas-vendidos">  

                <% masVendidos.forEach(element => { %>
                    <a href="/products/productDetail/<%= element.id %>">
                        <article class="producto">
                            <img src="/img/products/<%= element.imagen %>" alt="Trompeta">
                            <div class="detalle-producto">
                                <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                                <div class="container-detalle">
                                    <p class="calificacion">

                                        <form class="formulario-clasificacion">
                                            <p class="clasificacion">
                                            <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                            --><label for="radio1"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                            --><label for="radio2"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                            --><label for="radio3"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                            --><label for="radio4"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                            --><label for="radio5"><i class="fa-solid fa-star"></i></label>
                                            </p>
                                        </form>


                                    </p>
                                    <p class="precios">$ <%= element.precio %></p>
                                </div>
                            </div>
                        </article>
                    </a>
                
                <% }); %>

                </div>
            </section>
            </div>
        </section>

        <section class="marcas-banners" id="seccion-marcas-banners">
            <div class="box-marcas">
                <div>
                    <img src="/img/banners/bannerMarcas.jpg" width= 100%; alt="Marquesina marcas"><!--Imagen momentánea solo por visualización: debe actualizarse por div con lista de logos (svgs) de marcas, aplicar flex y generar la navegación / transición respectiva (botones adelantar y rebobinar)-->
                </div>
            </div>
            <div class="box-promoBanners">
                <div class="promoBanners">
                    <img src="/img/banners/bannerEnvio.jpg" width= 100%; alt="Envíos gratis">
                </div>
                <div class="promoBanners">
                    <img src="/img/banners/bannerCajita.jpg" width= 100%; alt="Envíos gratis">
                </div>
                <div class="promoBanners">
                    <img src="/img/banners/bannerMasPromos.jpg" width= 100%; alt="Envíos gratis">
                </div>
            </div>
        </section>

        <section class="complementos">
            <div class="destacados">
                <div class="head-border">
                    <h3>DESTACADOS</h3>
                </div>
                <article class="container-producto">
                    <img src="/img/productos/varios/trompeta.jpg" alt="Trompeta" >
                    <div class="detalle-producto">
                        <div>
                            <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                            <p class="precios">Estrellas</p>
                            <p class="descuentos">$6.770</p>
                        </div>
                    </div>
                </article>
                <article class="container-producto">
                    <img src="/img/productos/varios/trompeta.jpg" alt="Trompeta" >
                    <div class="detalle-producto">
                        <div>
                            <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                            <p class="precios">Estrellas</p>
                            <p class="descuentos">$6.770</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="comentarios">
                <div class="head-border">
                    <h3>COMENTARIOS</h3>
                </div>
                <article class="container-producto">
                    <img src="/img/productos/orquesta/orquesta-1.jpg" alt="Orquesta" >
                    <div class="detalle-producto">
                        <div>
                            <p class="descripciones"><strong>Handcrafted Wood Acustic Violin</strong></p>
                            <p class="precios"></p>
                            <p class="descuentos">Por Juan Se</p>
                        </div>
                    </div>
                </article>
                <article class="container-producto">
                    <img src="/img/productos/orquesta/orquesta-1.jpg" alt="Orquesta" >
                    <div class="detalle-producto">
                        <div>
                            <p class="descripciones"><strong>Handcrafted Wood Acustic Violin</strong></p>
                            <p class="precios">Estrellas</p>
                            <p class="descuentos">Por Juan Se</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="novedades">
                <div class="head-border">
                    <h3>NOVEDADES</h3>
                </div>
                <article class="container-producto">
                    <img src="/img/productos/percusion/percusion-2.jpg" alt="Audifonos" >
                    <div class="detalle-producto">
                        <div>
                            <p class="descripciones"><strong>Nuevos audífonos</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="container-producto">
                    <img src="/img/productos/percusion/percusion-2.jpg" alt="Audifonos" >
                    <div class="detalle-producto">
                        <div>
                            <p class="descripciones"><strong>Nuevos audífonos</strong></p>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="espacio-publicitario">
                <img src="/img/banners/banner_promo.jpg" alt="Publicidad">
            </div>
        </section>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>
