<%- include('./partials/head.ejs') %>
    <!-- ¡OJO! se estaba repitiendo el llamado de las hojas de estilo 'reset' y 'header-footer' que ya están en el partial head.ejs. PUEDEN PRESENTARSE CONFLICTOS (revisar) -->
    <link href="/styles/home.css" rel="stylesheet">

    <%- include('./partials/header.ejs') %>

        <main>

            <!-- index.ejs optimizado -->







            <section class="slider-frame">
                <ul>
                    <li><img src="/img/banners/Banner-carrusel1.jpg" alt=""></li>
                    <li><img src="/img/banners/Banner-carrusel2.jpg" alt=""></li>
                    <li><img src="/img/banners/Banner-carrusel1.jpg" alt=""></li>
                    <li><img src="/img/banners/Banner-carrusel2.jpg" alt=""></li>
                </ul>

            </section>















            <!-- <section class="carrusel">
            <div class="banner">
                <div class="container-carrusel-1">
                    <img src="/img/banners/carrusel_img1.jpg">
                </div>
                <div class="container-carrusel-2">
                    <h2>LLEVA LA BUENA <span class="vibra">VIBRA</span> <span><img src="/img/svg/simbolequalizer.svg"></span></h2>
                    <p class="bold-text">Instrumentos y accesorios musicales</p>
                    <p class="light-text">En esta caja encontrarás gran variedad de instrumentos, accesorios y demás implementos para la producción musical</p>
                    <div class="container-button-carrusel">
                        <button class="button-carrusel">Ofertas</button>
                    </div>
                </div>
            </div>
            <div class="player">
                <ul>
                    <li><a href="#"><span id="skip-previous" class="material-symbols-rounded">skip_previous</span></a></li>
                    <li><a href="#"><span id="play-arrow" class="material-symbols-rounded">play_arrow</span></a></li>
                    <li><a href="#"><span id="stop" class="material-symbols-rounded">stop</span></a></li>
                    <li><a href="#"><span id="skip-next" class="material-symbols-rounded">skip_next</span></a></li>
                </ul>
            </div>
        </section> -->

            <section class="compra-por-categoria" id="section-categorias">
                <h3>COMPRA POR CATEGORÍA</h3>
                <div class="items-categorias">
                    <!-- <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras"> -->
                    <section class="left-list">

                        <article class="categoria">
                            <p>Guitarras</p>
                            <img src="/img/home/categoria-guitarras.jpg" alt="Guitarras">
                        </article>

                        <a href="categoria/Accesorios"></a>
                        <article class="categoria">
                            <p>Accesorios</p>
                            <img src="/img/home/categoria-accesorios.jpg" alt="Accesorios">
                        </article>
                        </a>

                        <a href="categoria/Efectos"></a>
                        <article class="categoria">
                            <p>Efectos</p>
                            <img src="/img/home/categoria-efectos.jpg" alt="Efectos">
                        </article>
                        </a>

                        <a href="categoria/Pianos"></a>
                        <article class="categoria">
                            <p>Teclados & Pianos</p>
                            <img src="/img/home/categoria-pianos-teclados.jpg" alt="Teclados&Pianos">
                        </article>
                        </a>
                    </section>

                    <section class="right-list">

                        <a href="categoria/Orquesta"></a>
                        <article class="categoria">
                            <p>Orquesta</p>
                            <img src="/img/home/categoria-orquesta.jpg" alt="Orquesta">
                        </article>
                        </a>

                        <a href="categoria/Amplificacion"></a>
                        <article class="categoria">
                            <p>Amplificación</p>
                            <img src="/img/home/categoria-amplificacion.jpg" alt="Amplificación">
                        </article>
                        </a>

                        <a href="categoria/Segunda-Mano"></a>
                        <article class="categoria">
                            <p>Segunda Mano</p>
                            <img src="/img/home/categoria-segundamano.jpg" alt="Segunda Mano">
                        </article>
                        </a>

                        <a href="categoria/Grabacion"></a>
                        <article class="categoria">
                            <p>Grabación</p>
                            <img src="/img/home/categoria-grabacion.jpg" alt="Grabación">
                        </article>
                        </a>
                    </section>
                </div>
                <div class="button">
                    <button>VER TODAS LAS CATEGORÍAS</button>
                </div>
            </section>

            <section class="mas-vendidos" id="section-mas-vendidos">
                <h3>MÁS VENDIDOS</h3>
                <!-- <div class="nav-bar">
                <ul>
                    <li>
                        <a href="#">Filtro</a>
                    </li>  
                    <li>
                        <a href="#">Accesorios</a>
                    </li>
                    <li>
                        <a href="#">Teclado & Pianos</a>
                    </li>
                    <li>
                        <a href="#">ordenar por titulo</a><i class="fa-solid fa-chevron-up"></i>
                    </li>
                </ul>  
            </div> -->
                <div class="items-mas-vendidos">

                    <% masVendidos.forEach(element=> { %>
                        <a href="/products/productDetail/<%= element.id %>" class="product">
                                <img src="/img/products/<%= element.imagen %>" alt="Trompeta">
                                <div class="detalle-producto">
                                    <p class="descripciones"><strong>Plastic Trumpet, White</strong></p>
                                    <div class="container-detalle">
                                        <p class="calificacion">

                                        <form class="formulario-clasificacion">
                                            <p class="clasificacion">
                                                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                            --><label for="radio1"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                            --><label for="radio2"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                            --><label for="radio3"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                            --><label for="radio4"><i class="fa-solid fa-star"></i></label><!--
                                            --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                            --><label for="radio5"><i class="fa-solid fa-star"></i></label>
                                            </p>
                                        </form>


                                        </p>
                                        <p class="precios">$ <%= element.precio %>
                                        </p>
                                    </div>
                                </div>
                        </a>

                        <% }); %>

                </div>
            </section>
            </div>
            </section>

            <section class="marcas-banners" id="seccion-marcas-banners">
                <div class="box-marcas">
                    <div>
                        <img src="/img/banners/bannerMarcas.jpg" width=100%;
                            alt="Marquesina marcas"><!--Imagen momentánea solo por visualización: debe actualizarse por div con lista de logos (svgs) de marcas, aplicar flex y generar la navegación / transición respectiva (botones adelantar y rebobinar)-->
                    </div>
                </div>
                <div class="box-promoBanners">
                    <div class="promoBanners">
                        <img src="/img/banners/bannerEnvio.jpg" width=100%; alt="Envíos gratis">
                    </div>
                    <div class="promoBanners">
                        <img src="/img/banners/bannerCajita.jpg" width=100%; alt="Envíos gratis">
                    </div>
                    <div class="promoBanners">
                        <img src="/img/banners/bannerMasPromos.jpg" width=100%; alt="Envíos gratis">
                    </div>
                </div>
            </section>
            <div class="titles-last-section">
                <h1>novedades</h1>
                <h1>comentados</h1>
                <h1>destacados</h1>

            </div>
            <div class="last-section">
                <% masVendidos.forEach(element=> { %>
                    <a href="/products/productDetail/<%= element.id %>" class="card">
                        <div class="img-container">
                            <img src="/img/productos/Orquesta/Orquesta-1.jpg" alt="">
                        </div>
                        <div class="card-text">
                            <span><%= element.nombre %></span>
                            <p><%= element.marca %></p>
                            <p><%= element.precio %></p>
                        </div>
                    </a>
                <% }); %>
            </div>

            <!-- <div class="espacio-publicitario">
                        <img src="/img/banners/banner_promo.jpg" alt="Publicidad">
                    </div> -->


        </main>

        <%- include('./partials/footer.ejs') %>