<!DOCTYPE html>
<html lang="en-es">
<!-- -VISTA PARA ADMIN Y USUARIOS- -->

<%- include('./partials/head.ejs') %>
<link href="/styles/list-users.css" rel="stylesheet">


<body>

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('./partials/header.ejs') %>
    <!-- =========================================================================================================== -->

    <main>
        <div class="titel-page">
            <h1>Usuarios de soundbox</h1>
        </div>

        <section class="users">
            <div class="user_card">

            <% users.forEach(user => { %>
                
                <div class="img">
                    <img src="<%= user.imgProfile %>" alt="ft-profile soundBox">
                </div>
                    
                <div class="infoUser">

                    <div class="idUser">
                        <p>#<%= user.userId%></p>
                    </div>

                    <p>Nombres: <%= user.name %></p>
                    <p>Apellidos: <%= user.lastname %></p>
                    <span>Correo: <%= user.email%></span>
                    <span>Fecha de registro: 2000/11/15</span>
                    <samp>Compras echas: 0</samp>

                </div>

            <% }); %>
            </div>
        </section>
    </main>

<!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('./partials/footer.ejs') %>

<!-- =========================================================================================================== -->
</body>

</html>
