<!DOCTYPE html>
<html lang="en-es">
<!-- -VISTA PARA ADMIN Y USUARIOS- -->

<%- include('./partials/head.ejs') %>
<link href="/styles/list-users.css" rel="stylesheet">


<body>

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('./partials/header.ejs') %>
    <!-- =========================================================================================================== -->

    <main class="main__listUser">

        <div class="title-of-page">
            <h1>Usuarios de soundbox</h1>
        </div>

        <section class="users">
            <% users.forEach(user => { %>
            <div class="user_card">

                
                <div class="img">
                    <img src="<%= user.imgProfile %>" alt="ft-profile soundBox">
                </div>
                
                <div class="infoUser">

                    <div class="idUser">
                        <p>#<%= user.userId%></p>
                    </div>

                    <p>Nombres: <%= user.name %></p>
                    <p>Apellidos: <%= user.lastName %></p>
                    <span>Correo: <%= user.email%></span>
                    <span>Fecha de registro: 2000/11/15</span>
                    <span>Compras echas: 0</span>

                    <div class="butons">
                        <div class="delete">
                            <input type="button" value="Eliminar">
                        </div>
    
                        <div class="ban">
                            <input type="button" value="Banear">
                        </div>
                    </div>

                </div>


            </div>
            <% }); %>
        </section>
    </main>

<!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('./partials/footer.ejs') %>

<!-- =========================================================================================================== -->
</body>

</html>
