<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="styles/productCart.css">
        <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>
        <title>Product Cart</title>
</head>

<body>
    <%- include("./partials/header") %>
        <main class="main-product-cart">
            <section class="seccion-contenedora">
                <section class="seccion-principal">
                    <div class="carrito">
                        <h1>Ordenar Mi Cajita</h1>
                        <div class="ordenador-container">
                            <div class="ordenador">
                                <a href=""><i style="color: black;" class="fa-solid fa-circle-arrow-up"></i></a>
                                <a href=""><i style="color: white;" class="fa-solid fa-arrow-down-a-z"></i></a>
                                <a href=""><i style="color: white;" class="fa-solid fa-arrow-down-short-wide"></i></a>
                                <a href=""><i style="color: white;" class="fa-solid fa-arrow-down-wide-short"></i></a>
                            </div>
                            <div class="labels-ordenador">
                                <label for="#"> Agregar a Favoritos </label>
                                <label for="#"> Eliminar Seleccionados </label>
                            </div>
                        </div>
                        <div class="desplegable">
                            <% instrumentos.forEach(producto=> { %>
                                <div class="card">
                                    <input type="checkbox" name="#" id="#">
                                    <img src=<%=producto.imagen %>
                                    alt="">
                                    <div class="nombre-marca">
                                        <h2>
                                            <%= producto.nombre %>
                                        </h2>
                                        <p>
                                            <%= producto.marca %>
                                        </p>
                                    </div>
                                    <!-- <p style="color: red; margin: auto;">sin stock</p> -->
                                    <input type="number" min="1" max="1000" placeholder="Cantidad" required>
                                    <div class="precio-descuento">
                                        <span>
                                            <%= producto.precio + "$" %>
                                        </span>
                                        <span style="color: green;">
                                            <%= "-" + producto.descuento + " % OFF" %>
                                        </span>
                                    </div>
                                    <div class="delete-card">
                                        <span>eliminar</span>
                                    </div>
                                </div>
                                <% }); %>
                                    <div class="descripcion-card">
                                        <p>check</p>
                                        <p>imagen</p>
                                        <p>producto</p>
                                        <p>cantidad</p>
                                        <p>precio</p>
                                    </div>
                        </div>
                        <div class="pie">
                            <i class="fa-solid fa-cart-arrow-down"></i>
                        </div>
                    </div>

                    <div class="favoritos">
                        <h1>Ordenar Mis Favoritos</h1>
                        <div class="ordenador-container">
                            <div class="ordenador">
                                <a href=""><i style="color: black;" class="fa-solid fa-circle-arrow-up"></i></a>
                                <a href=""><i style="color: white;" class="fa-solid fa-arrow-down-a-z"></i></a>
                                <a href=""><i style="color: white;" class="fa-solid fa-arrow-down-short-wide"></i></a>
                                <a href=""><i style="color: white;" class="fa-solid fa-arrow-down-wide-short"></i></a>
                            </div>
                            <div class="labels-ordenador">
                                <label for="#"> Agregar al Carrito </label>
                                <label for="#"> Eliminar Seleccionados </label>
                            </div>
                        </div>
                        <div class="desplegable">
                            <% instrumentos.forEach(producto=> { %>
                                <div class="card">
                                    <input type="checkbox" name="#" id="#">
                                    <img src=<%=producto.imagen %>
                                    alt="">
                                    <div class="nombre-marca">
                                        <h2>
                                            <%= producto.nombre %>
                                        </h2>
                                        <p>
                                            <%= producto.marca %>
                                        </p>
                                    </div>
                                    <p style="color: red; margin: auto;">sin stock</p>
                                    <!-- <input type="number" min="1" max="1000" placeholder="Cantidad" required> -->
                                    <div class="precio-descuento">
                                        <span>
                                            <%= producto.precio + "$" %>
                                        </span>
                                        <span style="color: green;">
                                            <%= "-" + producto.descuento + " % OFF" %>
                                        </span>
                                    </div>
                                    <div class="delete-card">
                                        <span>eliminar</span>
                                    </div>
                                </div>
                                <% }); %>
                                    <div class="descripcion-card">
                                        <p>check</p>
                                        <p>imagen</p>
                                        <p>producto</p>
                                        <p>cantidad</p>
                                        <p>precio</p>
                                    </div>
                        </div>
                        <div class="pie">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                    </div>
                </section>

                <section class="seccion-secundaria">
                    <div class="pago-total">
                        <span>200.000 $</span>
                        <input type="submit">
                    </div>

                    <div class="descripcion-pago-total">
                        <div class="titulo-pago-total">
                            <span>TOTAL</span>
                        </div>
                        <div class="separador-izquierda">
                            <p>
                                nombre
                            </p>
                        </div>

                        <div class="separador-medio">
                            <p style="color: green;">
                                descuento
                            </p>
                        </div>

                        <div class="separador-derecha">
                            <p>precio</p>
                        </div>
                    </div>

                    <div class="metodos-pago">
                        <div class="titulo-metodos-pago">
                            <p>Metodos De Pago</p>
                        </div>
                        <div class="seccion-metodos-pago">
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-solid fa-credit-card"></i>
                            <i class="fa-brands fa-cc-paypal"></i>
                        </div>

                        <div class="titulo-metodos-pago">
                            <p>Efectivo en:</p>
                        </div>

                        <div class="seccion-metodos-pago">
                            <i class="fa-brands fa-ioxhost"></i>
                            <i class="fa-brands fa-ioxhost"></i>
                            <i class="fa-brands fa-ioxhost"></i>
                            <i class="fa-brands fa-ioxhost"></i>
                        </div>
                    </div>
                </section>
            </section>

            <section class="carruseles-contenedor">
                <section class="seccion-carrusel">
                    <div class="corredor">
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <!-- fin del carrusel agregar a carrito -->
                    </div>
                </section>

                <section class="seccion-carrusel">
                    <div class="corredor">
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <div class="image-related">
                            <img src="https://artemusical.com.ar/wp/wp-content/uploads/2019/06/18174_medium.jpg" alt="">
                        </div>
                        <!-- fin del carrusel agregar a carrito 2 -->
                    </div>
                </section>
            </section>
        </main>

        <%- include("./partials/footer") %>
</body>

</html>