<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="styles/productCart.css">
        <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>
        <title>Product Cart</title>
</head>

<body>
    <%- include("./partials/header") %>
        <main>
            <div>
                <h1 class="titulo-seccion">
                    ¡Bienvenido al Carrito!
                </h1>
            </div>
            <section class="seccion-contenedora">
                <section class="seccion-principal">
                    <div class="carrito" id="carrito">
                        <h1>Ordenar Mi Cajita</h1>
                        <div class="ordenador-container">
                            <div class="ordenador">
                                <button onclick="hide()"><i class="fa-solid fa-circle-arrow-up"></i></button>
                                <button  onclick="show()"><i  class="fa-solid fa-arrow-down-a-z"></i></button>
                                <button><i  class="fa-solid fa-arrow-down-short-wide"></i></button>
                                <button><i  class="fa-solid fa-arrow-down-wide-short"></i></button>
                            </div>
                            <div class="labels-ordenador">
                                <span>Eliminar seleccionados</span>
                                <span>agregar a favoritos</span>
                            </div>
                        </div>
                        <div class="desplegable" id="desplegable">
                            <% productos.forEach(product=> { %>
                                <div class="card">
                                    <input type="checkbox" name="#" id="#">
                                    <img src=<%=product.imagen %>
                                    alt="">
                                    <div class="nombre-marca">
                                        <a href="/products/productDetail">
                                            <h6>
                                                <%= product.nombre %>
                                            </h6>
                                        </a>
                                            <p>
                                                <%= product.marca %>
                                            </p>
                                        </div>
                                        <!-- <p style="color: red; margin: auto;">sin stock</p> -->
                                        <input type="number" min="1" max="1000" placeholder="Cantidad" required>
                                        <div class="precio-descuento">
                                            <span>
                                                <%= product.precio + "$" %>
                                            </span>
                                            <span style="color: green;">
                                                <%= "-" + product.descuento + " % OFF" %>
                                            </span>
                                        </div>
                                        <div class="delete-card">
                                            <span> eliminar </span>
                                        </div>
                                    </div>

                                <% }); %>
                                    <div class="descripcion-card">
                                        <p>imagen</p>
                                        <p>producto</p>
                                        <p>cantidad</p>
                                        <p>precio</p>
                                    </div>
                        </div>
                        <div class="pie">
                            <i  class="fa-solid fa-cart-arrow-down"></i>
                        </div>
                    </div>

                    <div class="favoritos" id="favoritos">
                        <h1>Ordenar Mis Favoritos</h1>
                        <div class="ordenador-container">
                            <div class="ordenador">
                                <button onclick="hide()"><i class="fa-solid fa-circle-arrow-up"></i></button>
                                <button onclick="show()"><i  class="fa-solid fa-arrow-down-a-z"></i></button>
                                <button><i  class="fa-solid fa-arrow-down-short-wide"></i></button>
                                <button><i  class="fa-solid fa-arrow-down-wide-short"></i></button>
                            </div>
                            <div class="labels-ordenador">
                                <label for="#"> Agregar al Carrito </label>
                                <label for="#"> Eliminar Seleccionados </label>
                            </div>
                        </div>
                        <div class="desplegable" id="desplegable">
                            <% productos.forEach(product=> { %>
                                <div class="card">
                                    <input type="checkbox" name="#" id="#">
                                    <img src=<%=product.imagen %>
                                    alt="">
                                    <div class="nombre-marca">
                                        <a href="/products/productDetail">
                                            <h6>
                                                <%= product.nombre %>
                                            </h6>
                                        </a>
                                        <p>
                                            <%= product.marca %>
                                        </p>
                                    </div>
                                    <p style="color: red; margin: auto;">sin stock</p>
                                    <!-- <input type="number" min="1" max="1000" placeholder="Cantidad" required> -->
                                    <div class="precio-descuento">
                                        <span>
                                            <%= product.precio + "$" %>
                                        </span>
                                        <span style="color: green;">
                                            <%= "-" + product.descuento + " % OFF" %>
                                        </span>
                                    </div>
                                    <div class="delete-card">
                                        <span> eliminar </span>
                                    </div>
                                </div>
                                <% }); %>
                                    <div class="descripcion-card">
                                        <p>imagen</p>
                                        <p>producto</p>
                                        <p>cantidad</p>
                                        <p>precio</p>
                                    </div>
                        </div>
                        <div class="pie">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                    </div>
                </section>

                <section class="seccion-secundaria">
                    <div class="pago-total">
                        <span>200.000 $</span>
                        <input type="submit">
                    </div>

                    <div class="descripcion-pago-total">
                        <h6 class="titulo-desplegable-pago-total">TOTAL:</h6>
                        <% productos.forEach(product=> { %>
                            <div class="separador-izquierda">
                                <p>
                                    <%= product.nombre %>
                                </p>
                            </div>

                            <div class="separador-medio">
                                <p style="color: green;">
                                    -<%= product.descuento + "%" %>
                                </p>
                            </div>

                            <div class="separador-derecha">
                                <p>
                                    <%= product.precio + "$" %>
                                </p>
                            </div>
                            
                            <% }); %>
                    </div>

                    <div class="metodos-pago">
                        <div class="titulo-metodos-pago">
                            <p>Metodos De Pago</p>
                        </div>
                        <div class="seccion-metodos-pago">
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-solid fa-credit-card"></i>
                            <i class="fa-brands fa-cc-paypal"></i>
                        </div>

                        <div class="titulo-metodos-pago">
                            <p>Efectivo en:</p>
                        </div>

                        <div class="seccion-metodos-pago">
                            <i class="fa-brands fa-ioxhost"></i>
                            <i class="fa-brands fa-ioxhost"></i>
                            <i class="fa-brands fa-ioxhost"></i>
                            <i class="fa-brands fa-ioxhost"></i>
                        </div>
                    </div>
                </section>
            </section>
            <div class="separador"></div>
            <div class="separador-externo"></div>

            <div class="titulo-seccion" style="background-color: white; color: black; margin-top: 5rem;">
                <!-- seccion carrusel -->
                <h1>Seguí navegando! </h1>
            </div>

            <section class="carruseles-contenedor">
                <div class="separador-externo"></div>
                <div class="separador"></div>
                <section class="seccion-carrusel">
                    <div class="corredor">
                        <% productos.forEach(product=> { %>
                            <div class="image-related">
                                <img src=<%=product.imagen %> alt="">
                            </div>

                            <!-- fin del carrusel agregar a carrito -->

                            <% }); %>
                    </div>
                </section>

                <section class="seccion-carrusel">
                    <div class="corredor">
                        <% productos.forEach(product=> { %>
                            <div class="image-related">
                                <img src="<%=product.imagen %>" alt="">
                            </div>

                            <!-- fin del carrusel agregar a carrito -->

                            <% }); %>
                    </div>
                </section>
                <div class="separador"></div>
                <div class="separador-externo"></div>
            </section>
        </main>

        <%- include("./partials/footer") %>
</body>

<script type="text/javascript">
    function hide(){
        document.getElementById("desplegable").style.display = "none";
        // document.getElementById("favoritos").style.display = "block";

    }

    function show(){
        document.getElementById("favoritos").style.display = "none";
        // document.getElementById("carrito").style.display = "block";

    }

</script>


