<!---------------- HEAD ---------------->
<%- include ("./partials/head") %>

<link href="/styles/reset.css" rel="stylesheet">
<link href="/styles/productDetail.css" rel="stylesheet">


<script src="https://kit.fontawesome.com/971bd64f71.js" crossorigin="anonymous"></script>


<!---------------- HEADER ---------------->

<%- include ("./partials/header") %>

<!---------------- BODY ---------------->

<body>
<section>
    <div class="linea-superior">
        <p style="color: white; font-size: 16px;"> Producto <%= singleProduct.nombre %> </p>
    </div>
    <div class="caja-general">
            <div class="caja-objeto-favorito caja-me-gusta">
                <a href="#"> <i class="fa-solid fa-heart"></i> </a>
            </div>

            <div class="caja-imagenes-general">
                <img src=" <%= singleProduct.imagen %> " alt="guitarra1" class="imagen-producto-principal">
                
                <div class="imagenes-secundarias-inferior">
                    <img src=" <%= singleProduct.imagenFrontal %> " alt="guitarra1" class="imagen-producto-secundaria">
                    <img src=" <%= singleProduct.imagenLateralDerecha %> " alt="guitarra1" class="imagen-producto-secundaria">
                    <img src=" <%= singleProduct.imagenLateralIzquierda %> " alt="guitarra1" class="imagen-producto-secundaria">
                </div>
            </div>

        <div class="caja-sub-general-informacion">
            <div class="caja-primera">
                <div class="caja-titulo-producto">
                    <h2 class="titulo-producto"> <%= singleProduct.nombre %> </h2>
                </div>
                    
                <div class="caja-precio-clasificacion">
                    <span class="precio-producto"> <%= singleProduct.precio %> </span>

                    <form>
                        <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5"><i class="fa-solid fa-star"></i></label>
                        </p>
                    </form>
                </div>
            </div>

            <div class="caja-segunda">
                <div class="caja-descripcion-producto">
                    <p class="descripcion-producto"> <%= singleProduct.descripcion %>
                    </p>
                </div>

                <div class="caja-colores-producto">
                    <span class="texto-color">Color</span>
                    
                    <div class="caja-seleccion-colores">
                        <form action="">
                            <select id="colores-seleccion" value>
                                <option value="negro" selected>Negro</option>
                                <option value="gris">Gris</option>
                                <option value="blanco">Blanco</option>
                                <option value="rojo">Rojo</option>
                                <option value="amarillo">Amarilla</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>

                <div class="caja-cantidad-producto-carrito">
                    <div class="caja-cantidad-producto">
                        <input type="number" id="cantidad-seleccion" min="1" max="<%= singleProduct.cantidad %>" value="1">
                    </div>

                    <div class="caja-botones-cantidad-producto">
                        <i class="fa-solid fa-caret-up"></i>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>

                    <div class="caja-agregar-carrito">
                        <form action="" class="formulario-boton-agregar-carrito">
                            <button type="submit" class="boton-agregar-carrito"><i class="fa-solid fa-cart-shopping"></i> <span class="texto-boton-agregar-carrito">ADD TO CART</span></button>
                        </form>
                    </div>
                </div>

            <div class="caja-links-extra-producto">
                <div class="caja-categorias-producto">
                    <span class="links-categorias-producto">Categories:
                        <a href="#">Guitars</a>,
                        <a href="#">Band & Orchestra</a>,
                        <a href="#">Bass Guitar</a>,
                        <a href="#">Instruments</a>,
                        <a href="#">Orchestral Strings</a>
                    </span>
                </div>

                <div class="caja-tags-producto">
                    <span class="links-tags-producto">Tags:
                        <a href="#">sale</a>,
                        <a href="#">company</a>,
                        <a href="#">electric guitars</a>
                    </span>
                </div>
            </div>

            <div class="caja-eliminar-producto">
                <form action="/products/delete/<%= singleProduct.id %>?_method=DELETE" method="POST"></form>
                <button type="submit">DELETE</button>
            </div>
        </div>

    </div>
</section>
    <%- include ("./partials/footer") %>
</body>