<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/todosLosProductos.css">
    <%- include("./partials/head") %>
        <title>Document</title>
</head>

<body>
    <%- include("./partials/header") %>
        <main>

            <h1 class="titulo">Todos Los Productos:</h1>

            <section class="ordenador">
                <h4 class="titulo-ordenador">Filtrar: <br>
                    <i class="fa-sharp fa-solid fa-arrow-right"></i>
                </h4>
                <section class="dropdown-ordenador">

                    <div class="filtrar-plata">
                        <div class="filtro-presupuesto">
                            <h6>desde 0$ hasta 1.000.000$ </h6>
                        </div>
                        <div class="barra-filtro"></div>
                    </div>

                    <div class="primer-seccion">
                        <span class="titulo-filtros">Filtros Populares:</span>
                        <div class="populares-1"><input type="checkbox"><span> Instrumentos
                                Electricos</span><span>8</span>
                        </div>
                        <div class="populares-1"><input type="checkbox"><span> Instrumentos
                                Criollos</span><span>8</span>
                        </div>
                        <div class="populares-1"><input type="checkbox"><span> Efectos</span><span>8</span></div>
                        <div class="populares-1"><input type="checkbox"><span> Grabación</span><span>8</span></div>
                        <div class="populares-1"><input type="checkbox"><span> amplificadores</span><span>8</span></div>
                        <div class="populares-1"><input type="checkbox"><span> Accesorios</span><span>8</span></div>
                    </div>

                    <div class="segunda-seccion">
                        <span class="titulo-filtros">Condición del instrumento:</span>
                        <div class="populares-1"><input type="checkbox"><span> Nuevo</span><span>8</span></div>
                        <div class="populares-1"><input type="checkbox"><span> Segunda Mano</span><span>8</span></div>
                    </div>

                    <div class="tercer-seccion">
                        <span class="titulo-filtros">Categorías:</span>
                        <div class="populares-1"><input type="checkbox"><span> Instrumentos
                                Electricos</span><span>8</span>
                        </div>
                        <div class="populares-1"><input type="checkbox"><span> Instrumentos
                                Electricos</span><span>8</span>
                        </div>
                        <div class="populares-1"><input type="checkbox"><span> Instrumentos
                                Electricos</span><span>8</span>
                        </div>
                        <div class="populares-1"><input type="checkbox"><span> Instrumentos
                                Electricos</span><span>8</span>
                        </div>
                        <div class="populares-1"><input type="checkbox"><span> Instrumentos
                                Electricos</span><span>8</span>
                        </div>
                    </div>

                    <div class="cuarta-seccion">
                        <span class="titulo-filtros">Por Marca:</span>
                        <div class="populares-1"><input type="checkbox"><span> Marshall</span><span>8</span></div>
                        <div class="populares-1"><input type="checkbox"><span> Gibson</span><span>8</span></div>
                        <div class="populares-1"><input type="checkbox"><span> Zildjian</span><span>8</span></div>
                    </div>
                </section>

            </section>
            <section class="seccion-general">
                <% products.forEach(product=> { %>
                    <div class="card">
                        <a  class="href-padding" href="/productDetail">
                            <div class="imagen-producto"><img src="/img/products/<%= product.imagen %>" alt=""></div>
                            <div class="desplegable">
                                <h5>
                                    <%= product.nombre%>
                                </h5>
                            </div>
                            <div class="descripcion-producto">
                                <span>
                                    $ <%= product.precio%>
                                </span>
                                <span class="descuento">
                                    -<%= product.descuento%> %
                                </span>
                            </div>
                            <div class="texto-descriptivo">
                                <p>
                                    <%= product.descripcion%>
                                </p>
                            </div>
                        </a>
                    </div>

                    <%})%>


            </section>

        </main>
        <%- include("./partials/footer") %>
</body>

</html>