<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/todosLosProductos.css">

    <%- include("../partials/header") %>

        <main>

            <div class="barra-titulo" id="titulo">
                <h2 class="titulo">Todos Los Productos</h2>
            </div>
            <section class="ordenador">
                <h2 class="titulo-ordenador">Filtrar:
                    <i class="fa-sharp fa-solid fa-arrow-right"></i>
                </h2>
                <section class="dropdown-ordenador">

                    <div id="slide-item" class="filtrar-plata">
                        <div class="filtro-presupuesto">
                            <input type="range">
                            <h6>desde 0$ hasta 1.000.000$ </h6>
                        </div>
                        <div class="barra-filtro"></div>
                    </div>

                    <div id="slide-item" class="primer-seccion">
                        <span class="titulo-filtros">Filtros Populares:</span>
                        <div class="populares-1">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                              </label>
                            <span> Instrumentos
                                Electricos</span>
                            <span>8</span>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Instrumentos
                                Criollos</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Efectos</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Grabación</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p>
                                amplificadores</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Accesorios</p>
                            <p>8</p>
                        </div>
                    </div>

                    <div id="slide-item" class="segunda-seccion">
                        <p class="titulo-filtros">Condición del instrumento:</p>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Nuevo</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Segunda Mano</p>
                            <p>8</p>
                        </div>
                    </div>

                    <div id="slide-item" class="tercer-seccion">
                        <p class="titulo-filtros">Categorías:</p>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Instrumentos
                                Electricos</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Instrumentos
                                Electricos</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Instrumentos
                                Electricos</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Instrumentos
                                Electricos</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Instrumentos
                                Electricos</p>
                            <p>8</p>
                        </div>
                    </div>

                    <div id="slide-item" class="cuarta-seccion">
                        <p class="titulo-filtros">Por Marca:</p>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Marshall</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Gibson</p>
                            <p>8</p>
                        </div>
                        <div class="populares-1"><label class="switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                  </label>
                            <p> Zildjian</p>
                            <p>8</p>
                        </div>
                    </div>
                </section>

            </section>


            <section class="seccion-general">
                <div class="todasLasCards">
                    <article class="container-producto" id="creationCard">
                        <a href="/products/create" class="card">
                            <div class="face front">
                                <img src="/img/products/IMG_DEFAULT.svg" alt="soundBox">
                            </div>
                            <div class="face back">
                                <div class="img_card-add">
                                    <i id="add-icon" class="fa-solid fa-plus"></i>
                                </div>
                                <h3>Crear producto</h3>
                            </div>
                        </a>
                    </article>
                    <% products.forEach(product=> { %>

                        <article class="container-producto">
                            <a href="/products/productDetail/<%= product.id %>" class="card">
                                <div class="face front">
                                    <img src="/img/products/<%= product.image %> " alt=<%=product.name %> >
                                    <h3>
                                        <%= product.name%>
                                            <%= product.brand.brand_name %>
                                    </h3>
                                </div>
                                <div class="face back">
                                    <div class="face-back-child">
                                        <h3>
                                            <%= product.name%>
                                        </h3>
                                        <p class="marca-descripcion">
                                            <%= product.brand.brand_name %>
                                        </p>
                                        <p class="marca-categoria">
                                            <%= product.category.category %>
                                        </p>
                                        <p class="marca-descripcion">
                                            <%= product.description %>
                                        </p>
                                        <p class="marca-estado">
                                            <%= product.state.state %>
                                        </p>
                                        <p class="marca-descripcion">
                                            <%= product.color_name %>
                                        </p>
                                        <p>Color/es:
                                            <% product.Colores.forEach(color=> { %>
                                                <%= color.color_name %>
                                                    <% if (color !==product.Colores[product.Colores.length - 1]) { %>
                                                        , <!-- Añade una coma si no es el último color -->
                                                        <% } %>
                                                            <% }) %>
                                        </p>
                                        <p class="price">$<%= product.price %>
                                        </p>
                                        <p>
                                            <%= product.discount %>%
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <% }); %>

                </div>
            </section>

        </main>

        <%- include("../partials/footer") %>