
    <%- include('../partials/head.ejs') %>
    <link href="/styles/home.css" rel="stylesheet">

    <%- include('../partials/header.ejs') %>

    <main>
    
        <div class="items-mas-vendidos">
        <% category.forEach(product => { %>
            <article class="producto">
                <a href="/products/productDetail">
                <img src=<%= product.imagen %> alt="Imagen">
                <div class="detalle-producto">
                    <p class="descripciones"><strong><%= product.nombre %></strong></p>
                    <div class="container-detalle">
                        <p class="calificacion">Estrellas</p>
                        <p class="precios">$<%= product.precio %></p>
                    </div>
                </div>
                </a>
            </article>
        <% }) %>
                
        </div>
        
        <hr class="separador">
        
        <hr class="separador">
        
    </main>

    <%- include('../partials/footer.ejs') %>


