    <!---------------- HEAD ---------------->

    <%- include ("../partials/head") %>
    <link href="/styles/productDetail.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/971bd64f71.js" crossorigin="anonymous"></script>

    <!---------------- HEADER ---------------->

    <%- include ("../partials/header") %>

    <!---------------- BODY ---------------->

    <section>
                <div class="caja-general">
                    <div class="caja-objeto-favorito caja-me-gusta">
                        <a href="#"> <i class="fa-solid fa-heart"></i> </a>
                    </div>

                    <div class="caja-imagenes-general">
                        <img src="/img/products/<%= product.image %> " class="imagen-producto-principal">
                    </div>

                    <div class="caja-sub-general-informacion">
                        <div class="caja-primera">
                            <div class="caja-titulo-producto">
                                <h2 class="titulo-producto">
                                    <%= product.brand.brand + " " + product.name %>
                                </h2>
                            </div>

                            <div class="caja-precio-clasificacion">
                                <span class="precio-producto"> $ <%= product.price %> </span>
                                <span class="descuento-producto">
                                    <% if (product.discount == null ) {%>
                                    
                                        <% } else {%>
                                            -<%= product.discount %> %
                                            <% } %>
                                </span>

                                <form class="formulario-clasificacion">
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5"><!--
                        --><label for="radio1"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                        --><label for="radio2"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                        --><label for="radio3"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                        --><label for="radio4"><i class="fa-solid fa-star"></i></label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                        --><label for="radio5"><i class="fa-solid fa-star"></i></label>
                                    </p>
                                </form>
                            </div>
                        </div>

                        <div class="caja-segunda">
                            <div class="caja-descripcion-producto">
                                <p class="descripcion-producto">
                                    <%= product.description %>
                                </p>
                            </div>

                            <div class="caja-colores-producto">
                                <span class="texto-color">Color</span>
                                <div class="caja-seleccion-colores">
                                    <form action="">
                                        <select id="colores-seleccion">
                                            <% product.Colores.forEach(color => { %>
                                                <option value="<%= color.color_name %>"><%= color.color_name %></option>
                                            <% }) %>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p>Stock disponible: <%= product.quantity %></p>
                        <div class="caja-cantidad-producto-carrito">
                            <div class="caja-cantidad-producto">
                                <input type="number" id="cantidad-seleccion" min="1" max="<%= product.quantity %>"
                                    value="1">
                            </div>

                            <div class="caja-botones-cantidad-producto">
                                <i class="fa-solid fa-caret-up"></i>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>

                            <div class="caja-agregar-carrito">
                                <form action="/productCart" class="formulario-boton-agregar-carrito">
                                    <button type="submit" class="boton-agregar-carrito"><i
                                            class="fa-solid fa-cart-shopping"></i> <span
                                            class="texto-boton-agregar-carrito">ADD TO CART</span></button>
                                </form>
                            </div>
                        </div>

                        <div class="caja-links-extra-producto">
                            <div class="caja-categories-producto">
                                <span class="links-categories-producto">Categoría:
                                        <a>
                                        <a href="#"> <%= product.category.category %>
                                        </a>
                                </span>
                            </div>

                            <div class="caja-tags-producto">
                                <span class="links-tags-producto">Estado:
                                    <a href="#">
                                        <%= product.state.state %>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="editar-borrar">
                            <a href="/products/edit/<%= product.id %>"><button class="boton-accion-editar">EDITAR
                                    PRODUCTO</button></a>

                            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST"
                                style="display: inline-flex">
                                <button type="submit" class="boton-accion-borrar">ELIMINAR</button>
                        </div>
                    </div>

                </div>
                <div class="caja-descripcion-secundaria-producto">
                    <h6 class="parrafo-descripcion-producto">Información Adicional</h6>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis error architecto similique
                        cumque. Exercitationem iure qui possimus facilis iusto, beatae temporibus omnis. Aliquam eum
                        voluptas ab exercitationem rem libero est!</p>
                </div>

    </section>

    <!---------------- FOOTER ---------------->

    <%- include ("../partials/footer") %>
