
    <!-- head -->
    <%- include("../partials/head") %>
    <link href="/styles/editarProducto.css" rel="stylesheet">
    <!-- /head -->

    <!-- HEADER -->
    <%- include("../partials/header")%>
    <!-- /HEADER -->

    <main>

        <section class="admin-container">

            <div class="admin-containe_title">
                <h1> EDITAR PRODUCTO </h1>
            </div>

            <section class="contenedor-total">

                <div class="form-creat-product">

                    <form action="/products/edit/ <%= productToEdit.id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">

                        <div class="imagenes">
                            <img src="/img/products/<%= productToEdit.image %> " alt=<%=productToEdit.name %> >
                            <div class="fieldset imagen-of-product">
                                <label for="imagen"></label>
                                <input placeholder="Imagen" type="file" name="form-imagen" class="imagen-form">
                            </div>

                        </div>

                        <div class="caja-grande">
                            <div class="fieldset titulo-producto">
                                <label for="nombre">Nombre del producto</label>
                                <input type="text" name="name" class="nombre-form"
                                    value="<%= productToEdit.name %>">
                            </div>

                            <div class="fieldset marca-producto">
                                <label for="brand">Marca</label>
                                <select name="brand" id="marca" class="estado-producto">
                                    <!-- La opción que está seleccionada es el estado actual, y las opciones disponibles que se muestran son las que son distintas al estado actual -->
                                    <option value="<%= productToEdit.brand_id %>"><%= productToEdit.brand.brand_name %></option>
                                   <% availableBrands.forEach(availableBrand => { %>
                                        <% if (availableBrand.brand_name != productToEdit.brand.brand_name) { %>
                                            <option value="<%= availableBrand.id %>"><%= availableBrand.brand_name %></option>
                                        <% } %>
                                   <% }) %>
                                </select>
                            </div>

                            <div class="fieldset precio">
                                <label for="precio">Precio</label>
                                <input placeholder="Precio" type="number" name="price" min="1" max="9999999"
                                    class="precio-form" value="<%= productToEdit.price %>">
                            </div>

                            <div class="fieldset descuento">
                                <label for="descuento">Descuento</label>
                                <input placeholder="Descuento" type="number" name="discount" max="99"
                                    class="descuento-form" value="<%= productToEdit.discount %>">
                            </div>

                            <div class="fieldset descripcion">
                                <label for="descripcion">Descripcion</label>
                                <input type="text" name="description" id="" cols="30" rows="10"
                                    class="descripcion-form" value="<%= productToEdit.description %>"></input>
                            </div>

                            <div class="fieldset-colores colores-disponibles">
                                <label for="colores">Colores</label>
                                <% productToEdit.Colores.forEach(color => { %>
                                    <input type="checkbox" name="colors" value="<%= color.id %>" class="fieldset-input colors-form" checked>
                                    <label for="color1" class="fieldset-lbl lbl-productColor"><%= color.color_name %></label>
                                <% }) %>
                            </div>

                            <div class="fieldset cantidad-disponibles">
                                <label for="disponibles">Cantidad disponibles</label>
                                <input type="number" name="quantity" min="1" max="1000"
                                    class="cantidad-disponible" value="<%= productToEdit.quantity %>">
                            </div>

                            <div class="fieldset agregar-category">
                                <label for="categories">Categoría</label>
                                <input placeholder="Guitarras, Instrumentos de cuerda" type="text"
                                    name="category" class="cantidad-disponible"
                                    value="<%= productToEdit.category.category %>">
                            </div>

                            <div class="fieldset estado">
                                <label for="estado">Estado</label>
                                <select name="state" id="estado" class="estado-producto">
                                    <!-- La opción que está seleccionada es el estado actual, y las opciones disponibles que se muestran son las que son distintas al estado actual -->
                                    <option value="<%= productToEdit.state.id %>"><%= productToEdit.state.state %></option>
                                   <% availableStates.forEach(availableState => { %>
                                        <% if (availableState.state != productToEdit.state.state) { %>
                                            <option value="<%= availableState.id %>"><%= availableState.state %></option>
                                        <% } %>
                                   <% }) %>
                                </select>
                            </div>
                        </div>
                        
                        <div class="botones crear-carta-borrar-carta">

                            <label for=""></label>
                            <input type="submit" value="Editar" class="enviar-form">

                        </div>

                    </form>

                </div>

            </section>
    </main>

    <!-- Footer -->
    <%- include("../partials/footer") %>
    <!-- /Footer -->

