<%- include("../partials/head") %>
    <link rel="stylesheet" href="styles/productCart.css">
    <script src="https://kit.fontawesome.com/d5c465f7b6.js" crossorigin="anonymous"></script>
    <title>Product Cart</title>

    <%- include("../partials/header") %>

        <main>
            <section class="seccion-contenedora">
                <section class="seccion-principal">
                    <div class="carrito" id="carrito">
                        <h1>Mi Cajita</h1>
                        <div class="ordenador-container">
                            <div class="ordenador">
                                <button onclick="hide()"><i class="fa-solid fa-circle-arrow-up"></i></button>
                                <button onclick="ordenarAlfabeticamente()"><i
                                        class="fa-solid fa-arrow-down-a-z"></i></button>
                                <button><i class="fa-solid fa-arrow-down-short-wide"></i></button>
                                <button><i class="fa-solid fa-arrow-down-wide-short"></i></button>
                            </div>
                            <div class="labels-ordenador">
                                <form method="POST" action="/">
                                    <select id="send-to">Eliminar seleccionados</select>
                                    <!-- <option value="valueA">a</option>
                                    <option value="valueA">b</option>
                                    <option value="valueA">c</option> -->
                                    <select id="send-to">agregar a favoritos</select>
                                    <!-- <option value="valueB">a</option>
                                    <option value="valueB">b</option>
                                    <option value="valueB">c</option> -->
                                </form>
                            </div>
                        </div>
                        <div class="desplegable" id="desplegable">
                            <% productos.forEach(product=> { %>
                                <div class="card" data-order="<%= product.id %>">
                                    <!-- Rounded switch -->
                                    <label class="switch">
                                        <input type="checkbox" required>
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="card-image-container">
                                        <img class="card-img" src="/img/products/<%= product.imagen %>" alt="">
                                    </div>
                                    <div class="nombre-marca">
                                        <a href="/products/productDetail/<%= product.id %>">
                                            <h5>
                                                <%= product.nombre %>
                                            </h5>
                                        </a>
                                        <p>
                                            <%= product.marca %>
                                        </p>
                                    </div>
                                    <div class="addNumber_cont">
                                        <button id="disabledBtn" onclick="decrementar('<%= product.id %>')">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>

                                        <div class="value_cont">
                                            <!-- <input type="number" id="amount" value="0"> -->

                                            <h1 id="cantidad-<%= product.id %>" value=""> 1 </h1>
                                        </div>

                                        <button onclick="incrementar('<%= product.id %>','<%= product.cantidad %>')">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>

                                    </div>
                                    <div class="precio-descuento">
                                        <span>
                                            <%= product.precio %> $
                                        </span>
                                        <span style="color: green;">
                                            - <%= product.descuento %>% OFF
                                        </span>
                                    </div>
                                    <div class="delete-card">
                                        <span> eliminar </span>
                                    </div>
                                </div>

                                <% }); %>
                                    <div class="descripcion-card">
                                        <p>check</p>
                                        <p>imagen</p>
                                        <p>producto</p>
                                        <p>cantidad</p>
                                        <p>precio</p>
                                    </div>
                        </div>
                        <div class="pie">
                            <button onclick="show()"><i class="fa-solid fa-cart-arrow-down"></i></button>
                        </div>
                    </div>
                </section>

                <section class="seccion-secundaria">
                    <div class="pago-total">
                        <span>200.000 $</span>
                        <input type="submit">
                    </div>

                    <section class="google-maps-container">

                        <!-- google maps div -->
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31814.088114193386!2d-74.170368!3d4.636672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9dcb9ac15e93%3A0xc6bf5b05b9a52c99!2sParque%20Dindalito%20Bella%20Vista!5e0!3m2!1ses-419!2sco!4v1707265372189!5m2!1ses-419!2sco"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <!-- google maps fin -->
                    </section>

                    <div class="descripcion-pago-total">
                        <h6 class="titulo-desplegable-pago-total">TOTAL:</h6>
                        <% productos.forEach(product=> { %>
                            <div class="separador-izquierda">
                                <p>
                                    <%= product.nombre %>
                                </p>
                            </div>

                            <div class="separador-medio">
                                <p style="color: green;">
                                    -<%= product.descuento + "%" %>
                                </p>
                            </div>

                            <div class="separador-derecha">
                                <p>
                                    <%= product.precio + "$" %>
                                </p>
                            </div>

                            <% }); %>
                    </div>

                </section>


            </section>
            <div class="separador"></div>
            <div class="separador-externo"></div>

            <div class="titulo-seccion" style="background-color: white; color: black; margin-top: 5rem;">
                <!-- seccion carrusel -->
                <h1>Seguí navegando! </h1>
            </div>

            <div class="grid-container">
                <div class="grid-item">
                    <img src="image1.jpg" alt="Image 1">
                    <div class="price-discount">
                        <p class="price">$100</p>
                        <p class="discount">20% off</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="image2.jpg" alt="Image 2">
                    <div class="price-discount">
                        <p class="price">$150</p>
                        <p class="discount">10% off</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="image3.jpg" alt="Image 3">
                    <div class="price-discount">
                        <p class="price">$75</p>
                        <p class="discount">30% off</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="image4.jpg" alt="Image 4">
                    <div class="price-discount">
                        <p class="price">$200</p>
                        <p class="discount">5% off</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="image5.jpg" alt="Image 5">
                    <div class="price-discount">
                        <p class="price">$50</p>
                        <p class="discount">40% off</p>
                    </div>
                </div>
            </div>



        </main>

        <%- include("../partials/footer") %>

            <!-- los script va a ir en nuestros archivos ejs hasta que 
    aprendamos DOM, luego los activamos en el partial del foter-->
            <script src="/scripts/productCart.js"></script>