<!-- -VISTA PARA USUARIOS- -->

<%- include('../partials/head.ejs') %>
    <link href="/styles/users.css" rel="stylesheet">

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('../partials/header.ejs') %>

        <!-- =========================================================================================================== -->

    <main>             
                
        <h3 id="profile-title">
            <strong> Perfil de Usuario de </strong>
            <%= user.first_name %> <%= user.last_name %>
        </h3>
        <section class="primary-section">
                    
                    <section class="second-section">
                        <div class="img-container">
                            <img src="/img/users/<%= user.image %>" alt="">
                        </div>
                        <div class="img-buttons">
                            <input class="profile-button" type="file">
                            <input class="profile-button" type="submit">
                        </div>
                        
                        <div class="editar-borrar">
                            <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST"
                                style="display: inline-flex">
                                <button type="submit" class="boton-accion-borrar">ELIMINAR</button>
                            </form>
                        </div>
                    </section>
                    
                
                <section class="first-section">
                    <div class="user-description" id="user-description">
                        <h3>
                            <strong> Bienvenido/a a Sound-Box </strong>
                            <%= user.first_name %>
                            !!
                        </h3>
                        <h3>
                            <%= user.last_name %>
                        </h3>
                        <h3>
                            <%= user.e_mail %>
                        </h3>
                        <h3>
                            <%= user.user_type.user_type %>
                        </h3>
                        <h3>
                            <%= user.country.country %>
                        </h3>

                        <div class="delete-user">
                            <button onclick="show()"> Editar usuario </button>
                        </div>
                    </div>
                    <section id="edit-user-form">
                        <form action="/users/userProfile/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/x-www-form-urlencoded">
                            <label for=""><p>Name</p>
                                <input name="first_name" type="text" value="<%= user.first_name %>" >
                            </label>
                            <label for=""><p>Last name</p>
                                <input name="last_name" type="text" value="<%= user.last_name %>">
                            </label>
                            <label for=""><p>Email</p>
                                <input name="e_mail" type="text" value="<%= user.e_mail %>" >
                            </label>
                            
                            <div>
                                <input type="submit">
                            </div>
                            <div>
                                <button onclick="hide()">volver</button>
                            </div>
                        </form>
                    </section>
                    
                </section>
                
                
                <section class="registered-purchases">
                    <h3>Compras anteriores</h3>
                    <div class="lastest-purchases">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                    </div>

            </section>
        </main>

        <!-- =========================================================================================================== -->

        <!-- FOOTER / PIE DE PAGINA -->
        <%- include('../partials/footer.ejs') %>
        <script src="/scripts/user.js"></script>

    <!-- =========================================================================================================== -->
