
<!-- -USER LIST- -->

<%- include('../partials/head.ejs') %>
<link href="/styles/list-users.css" rel="stylesheet">

<!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('../partials/header.ejs') %>

<!-- =========================================================================================================== -->

    <main class="main__listUser">

        <div class="title-of-page">
            <h1>Usuarios de soundbox</h1>
        </div>

        <section class="users">
            <% users.forEach(user => { %>
                <div class="user-card">
                    
                    <a href="/users/userProfile/<%= user.userId%>">

                        <div class="a-user_card">
                            
                            <div class="img">
                                <img src="/img/users/default-image/<%= user.imgProfile %>" alt="ft-profile soundBox">
                            </div>
                            
                            <div class="infoUser">
    
                        <div class="idUser">
                            <p>#<%= user.userId%></p>
                        </div>
    
                        <p>Nombres: <%= user.name %></p>
                        <p>Apellidos: <%= user.lastName %></p>
                        <span>Correo: <%= user.email%></span>
                        <span>Fecha de registro: 2000/11/15</span>
                        <span>Compras echas: 0</span>
    
                            </div>
                        </div>
    
                    </a>

                    <div class="butons">
    
                        <div class="delete">
                            <form action="/users/delete/<%= user.userId %>?_method=DELETE" method="POST">
                                <button type="submit" class="boton-accion-borrar">ELIMINAR</button>
                            </form>
                        </div>

                        <div class="ban">
                            <button type="submit" class="boton-accion-borrar">EANEAR</button>
                        </div>

                    </div>

                </div>
            <% }); %>
        </section>
        
    </main>

<!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('../partials/footer.ejs') %>

<!-- =========================================================================================================== -->

