<!-- -USER LIST- -->

<%- include('../partials/head.ejs') %>
<link href="/styles/list-users.css" rel="stylesheet">

<!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('../partials/header.ejs') %>

<!-- =========================================================================================================== -->

    <main class="main__listUser">

        <div class="title-of-page">
            <h1>Usuarios de soundbox</h1>
        </div>
        
        <section class="users">
            <% full_user.users.forEach(user => { %>
                <div class="user-card">
                    
                    <a href="/admin/userProfile/<%= user.id%>" id="identificate-user">

                        <div class="a-user_card">
                            
                            <div class="img">
                                <!--En la ruta de la imagen, lo que está dentro de la etiqueta EJS, es el filename de la imagen que viene desde la BD-->
                                <img src='/img/users/<%= user.image %>' alt="ft-profile soundBox"> 
                            </div>
                            
                            <div class="infoUser">
    
                        <div class="idUser">
                            <p>#<%= user.id%></p>
                        </div>
    
                        <p id="name">Nombres: <%= user.first_name %></p>
                        <p id="last">Apellidos: <%= user.last_name %></p>
                        <p id="email">Correo: <%= user.e_mail%></p>
                          <!-- Acá habría que ver cómo poner que se vea el nombre del país -->
    
                            </div>
                        </div>
    
                    </a>

                    <div class="butons">
    
                        <div class="delete">
                            <form action="/admin/usersList/delete/<%= user.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="boton-accion-borrar">ELIMINAR</button>
                            </form>
                        </div>

                        <div class="ban">
                            <button type="submit" class="boton-accion-borrar">BANEAR</button>
                        </div>

                    </div>

                </div>
            <% }); %>
        </section>
        
    </main>

<!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('../partials/footer.ejs') %>

<!-- =========================================================================================================== -->