
    <!-- -VISTA PARA USUARIOS- -->

    <%- include('../partials/head.ejs') %>
    <link href="/styles/users.css" rel="stylesheet">

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('../partials/header.ejs') %>

    <!-- =========================================================================================================== -->

    <main>
                <h1>Bienvenido/a <%= user.name %>!</h1>
                <section class="primary-section">
                    <section class="first-section">
                        <div class="user-description" id="user-description">
                            <h3>
                                <%= user.name %>
                            </h3>
                            <h3>
                                <%= user.lastName %>
                            </h3>
                            <h3>
                                <%= user.email %>
                            </h3>
                            <p>Argentina</p>

                            <div class="delete-user">
                                <button onclick="show()"> Editar usuario </button>
                            </div>
                        </div>
                        <section id="edit-user-form">
                            <form action="">
                                <label for=""><p>Name</p>
                                    <input type="text" value="<%= user.name %>" >
                                </label>
                                <label for=""><p>Last name</p>
                                    <input type="text" value="<%= user.lastName %>">
                                </label>
                                <label for=""><p>Email</p>
                                    <input type="text" value="<%= user.email %>" >
                                </label>

                                <div>
                                    <input type="submit">
                                </div>
                                <div>
                                    <button onclick="hide()">volver</button>
                                </div>
                            </form>
                        </section>

                    </section>
                    <section class="second-section">
                        <div class="img-container">
                            <img src="/img/users/<%= user.imgProfile %>" alt="">
                        </div>
                        <div class="img-buttons">
                            <input type="file">
                            <input type="submit">
                        </div>

                        <div class="editar-borrar">
                            <form action="/users/delete/<%= user.userId %>?_method=DELETE" method="POST"
                                style="display: inline-flex">
                                <button type="submit" class="boton-accion-borrar">ELIMINAR</button>
                            </form>
                        </div>
                    </section>
                </section>


                <section class="registered-purchases">
                    <h3>Compras anteriores</h3>
                    <div class="lastest-purchases">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                    </div>

                </section>
    </main>

    <!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('../partials/footer.ejs') %>

    <!-- =========================================================================================================== -->
