
    <!-- -VISTA PARA USUARIOS- -->

    <%- include('../partials/head.ejs') %>
    <link href="/styles/users.css" rel="stylesheet">

    <!-- =========================================================================================================== -->

    <!-- -HEADER / ENCABEZADO- -->
    <%- include('../partials/header.ejs') %>

    <!-- =========================================================================================================== -->

    <main>             
                
        <h3 id="profile-title">
            <strong> Perfil de Usuario de </strong>
            <%= user.first_name %> <%= user.last_name %>
        </h3>
        <section class="primary-section">
                    
                    <section class="second-section">
                        <div class="img-container">
                            <img src="/img/users/<%= user.image %>" alt="">
                        </div>
                        <div class="img-buttons">
                            <input class="profile-button" type="file">
                            <input class="profile-button" type="submit">
                        </div>
                        
                        <div class="editar-borrar">
                            <form action="/users/delete/<%= user.Id %>?_method=DELETE" method="POST"
                                style="display: inline-flex">
                                <button type="submit" class="boton-accion-borrar">ELIMINAR</button>
                            </form>
                        </div>
                    </section>
                    
                
                <section class="first-section">
                    <div class="user-description" id="user-description">
                        <h3>Tus datos:</h3>
                        <h3>
                            <%= user.e_mail %>
                        </h3>
                        <h3>
                            <%= user.user_type.user_type %>
                        </h3>
                        <h3>
                            <%= user.country.country %>
                        </h3>

                        <div>
                            <button class="profile-button" onclick="show()"> Editar usuario </button>
                        </div>
                    </div>
                    <section id="edit-user-form">
                        <form action="<%= user.id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded"> <!--Esto es para que el controlador pueda reconocer el body-->
                            <label for="first_name"><p>Name</p>
                                <input type="text" name="first_name" value="<%= user.first_name %>" >
                            </label>
                            <label for="last_name"><p>Last name</p>
                                <input type="text" name="last_name" value="<%= user.last_name %>">
                            </label>
                            <label for="e_mail"><p>Email</p>
                                <input type="text" name="e_mail" value="<%= user.e_mail %>" >
                            </label>
                            
                           <div>
                                <input type="submit" >
                            </div> 
                            
                        </form>
                        <div>
                            <button onclick="hide()">volver</button>
                        </div>
                    </section>
                    
                </section>
            </section>   
                
                <section class="registered-purchases">
                    <h3>Compras anteriores</h3>
                    <div class="lastest-purchases">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                        <img src="/img/products/IMG_DEFAULT.svg" alt="">
                    </div>

                </section>
    </main>

    <!-- =========================================================================================================== -->

    <!-- FOOTER / PIE DE PAGINA -->
    <%- include('../partials/footer.ejs') %>

    <script src="/scripts/user.js"></script>
    <!-- =========================================================================================================== -->
